<style>
    .input-lg{
    border-radius: 6;
}
select.soflow, select.soflow-color
{
    border-radius: 6;
}
.myLabel {
    position: relative;
}
.myLabel input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width:100%;
    height:100%;
}
.myLabel {
    /*border: 2px solid #AAA;*/
    border-radius: 15px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
    color: #000;
    width: 50%
}
.myLabel:hover {
    background: #283593;
    color: #fff;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.myLabel:active {
    background: #CCF;
}

.leftroundspan{
      /* border-bottom-right-radius:6px; */
      border-bottom-left-radius:6px !important;
     /* -moz-border-radius-bottomright:6px; */
     -moz-border-radius-bottomleft:6px !important ;
     /* -webkit-border-bottom-right-radius:6px; */
     -webkit-border-bottom-left-radius:6px !important;

      /* -moz-border-radius-topright:6px; */
      -moz-border-radius-topleft:6px !important;
      /* -webkit-border-top-right-radius:6px; */
      -webkit-border-top-left-radius:6px !important;
      /* border-top-right-radius:6px; */
      border-top-left-radius:6px !important;
}

.roundinput{
      border-bottom-right-radius:6px !important;
      /* border-bottom-left-radius:6px; */
     -moz-border-radius-bottomright:6px!important ;
     /* -moz-border-radius-bottomleft:6px; */
     -webkit-border-bottom-right-radius:6px !important;
     /* -webkit-border-bottom-left-radius:6px; */

      -moz-border-radius-topright:6px !important;
      /* -moz-border-radius-topleft:6px; */
      -webkit-border-top-right-radius:6px !important;
      /* -webkit-border-top-left-radius:6px; */
      border-top-right-radius:6px !important;
      /* border-top-left-radius:6px; */
}

.form-bottom-padding{
    margin-bottom: 100px;
}
</style>
<!-- START CONTAINER -->
<!-- START TOPBAR -->

<div class="page-topbar">
        <div class="container">
            <a href="/dashboard">
                <div class="logo-area"></div>
            </a>
            <div class="quick-area" ng-show="showHeaderOptions">
                <div class='pull-right'>
                    <ul class="info-menu right-links list-inline list-unstyled">
                        
                        <li class="balaceTop">Balance : {{balance}} XDC</li>
                        <li class="profile">
                            <a href="#" class="toggle" id="dropdownToggle" ng-click="toggleDropdown()">
                                <span>{{name}}
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu profile animated fadeIn" role="menu" id="dropdownMenu" ng-style="dropdownMenuStyle">
                                <li>
                                    <a href="/profile">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="" ng-click="logOut()">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- END TOPBAR -->
<div class="row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <div class="container wrapper main-wrapper row form-bottom-padding">

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title"><a href="/dashboard">Supplier dashboard</a> <span class="request-details">Create
                                request</span> </h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>

                    <div class="pull-right">
                        <a href = "/dashboard">
                            <button class="btn btn-primary btn-corner">Back</button>
                        </a>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xs-12">
                <section class="box">
                    <div class="content-body">
                        <!-- <div class="row"> -->
                            <div class="row">
                                <div class="col-md-12 invoice-supplier-buy">Buyer details</div>
                            </div>
                            
                            <form name="userForm" novalidate>
                                <div class="row">
                                    <div class="col-md-9 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.companyNameData.$touched && userForm.companyNameData.$invalid }">
                                            <select class="soflow form-control input-lg" ng-model="input.companyNameData" id="companyNameData" name="companyNameData"
                                                ng-options="x.firstName for x in buyerList" style="padding-top: 20px; padding-left: 18px;"
                                                ng-required="true">
                                            </select>
                                            <label class="labelText" for="companyNameData">Buyer name</label>
                                            <p ng-show="!userForm.companyNameData.$touched" class="help-block">Please select a buyer</p>
                                            <p ng-show="userForm.companyNameData.$touched && userForm.companyNameData.$invalid" class="help-block">Please select a buyer</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.companyTypeOptions.$touched && userForm.companyTypeOptions.$invalid }">
                                            <select class="soflow form-control input-lg" ng-model="input.companyType" id="companyTypeOptions" name="companyTypeOptions"
                                                ng-options="x for x in companyTypeOptions" style="padding-top: 20px; padding-left: 18px;"
                                                ng-required="true">
                                            </select>
                                            <label class="labelText" for="companyTypeOptions">Company type</label>
                                            <p ng-show="!userForm.companyTypeOptions.$touched" class="help-block">Please select a type</p>
                                            <p ng-show="userForm.companyTypeOptions.$touched && userForm.companyTypeOptions.$invalid" class="help-block">Please select a type</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : (!contactNameFocused && userForm.contactName.$touched && userForm.contactName.$invalid && !userForm.contactName.$error.pattern) || (!contactNameFocused && userForm.contactName.$error.pattern)}">
                                            <input class="form-control input-lg" id="contactName" name="contactName" ng-pattern ="/^(?! )[A-Za-z]*[ ]{0,1}[A-Za-z]*(?<! )$/" ng-model="input.contactName" ng-trim="false" ng-focus="contactNameFocused = true" ng-blur="contactNameFocused = false" placeholder=" " ng-required="true"/>
                                            <label class="labelText" for="contactName">Contact name</label>
                                            <p ng-if="!contactNameFocused && userForm.contactName.$touched && userForm.contactName.$invalid && !userForm.contactName.$error.pattern" class="help-block">Name is required</p>
                                            <p ng-if="userForm.contactName.$error.pattern" class="help-block">Numbers are not allowed, no spaces at either ends too<br>Maximum two words separate by a space</p>

                                            <!-- <p ng-show="userForm.contactName.$touched && userForm.contactName.$invalid" class="help-block">Your contact name is required.</p> -->
                                            <!-- <p ng-show="userForm.contactName.$error.pattern" class="help-block">Only alphabets allowed.</p> -->
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : (!companyPhoneFocused && userForm.companyPhone.$touched && userForm.companyPhone.$invalid && !userForm.companyPhone.$error.pattern) || (!companyPhoneFocused && userForm.companyPhone.$error.pattern)}">
                                            <div class="input-group">
                                                <span class="input-group-addon leftroundspan border-red" style="cursor: pointer" ng-style="companyPhoneFocused? style={'border-color': '#6175d6'}: {}">
                                                    <select>
                                                        <option value="+65">+65</option>
                                                        <option value="+91">+91</option>
                                                    </select>
                                                </span>
                                                
                                                <input class="form-control input-lg roundinput" id="companyPhone" name="companyPhone" ng-model="input.companyPhone"
                                                     ng-pattern="/^[0-9]*$/" ng-focus="companyPhoneFocused = true" ng-blur="companyPhoneFocused = false" placeholder=" " ng-required="true"/>
                                                <label for="companyPhone" style="padding-left: 58px;">Company phone</label>
                                            </div>
                                            <p ng-if="!companyPhoneFocused && userForm.companyPhone.$touched && userForm.companyPhone.$invalid && !userForm.companyPhone.$error.pattern" class="help-block">Contact number is required</p>
                                            <p ng-if="userForm.companyPhone.$error.pattern" class="help-block">Only numbers allowed</p>
                                            <!-- <p ng-show="userForm.companyPhone.$touched && userForm.companyPhone.$invalid" class="help-block">Your contact no is required.</p> -->
                                            <!-- <p ng-show="userForm.companyPhone.$error.pattern" class="help-block">Only numbers allowed.</p> -->
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : (!emailFocused && userForm.companyEmail.$touched && userForm.companyEmail.$invalid && !userForm.companyEmail.$error.pattern) || (!emailFocused && userForm.companyEmail.$error.pattern)}">
                                            <input class="form-control input-lg" id="companyEmail" name="companyEmail" ng-pattern = "/^(?! )[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]{2,})+(?<! )$/" type="email"  ng-focus="emailFocused = true" ng-blur="emailFocused = false" ng-model="input.companyEmail" placeholder=" " ng-required="true">
                                            <label class="labelText" for="companyEmail">Company email</label>
                                            <p ng-if="!emailFocused && userForm.companyEmail.$touched && userForm.companyEmail.$invalid && !userForm.companyEmail.$error.pattern" class="help-block">Email is required</p>
                                            <p ng-if="!emailFocused && userForm.companyEmail.$error.pattern" class="help-block">Invalid email, please enter valid email</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <!-- </div> -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 form-bottom-padding">
                <section class="box">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-md-12 invoice-supplier-buy">Purchase details</div>
                        </div>
                            
                        <form name="userForm2" novalidate>
                            <div class="row">
                                    <div class="col-md-12 label-invoice">Purchase order</div>
                                <div class="col-md-9 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseTitle.$touched && userForm2.purchaseTitle.$invalid }">
                                        <input class="form-control input-lg" id="purchaseTitle" name="purchaseTitle" ng-model="input.purchaseTitle" 
                                        ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                        <label class="labelText" for="purchaseTitle">PO title</label>
                                        <p ng-show="userForm2.purchaseTitle.$touched && userForm2.purchaseTitle.$invalid" class="help-block">PO title is required</p>
                                        <p ng-show="userForm2.purchaseTitle.$error.pattern" class="help-block">Only alphanumerics allowed</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-3 has-float-label">
                                    <!-- <datepicker>
                                      <input ng-model="date" placeholder=" " type="text"/>
                                    </datepicker> -->
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.payableDate.$touched && userForm2.payableDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" date-min-limit="{{minPayableDate}}" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.payableDate" name="payableDate" id="payableDate"
                                                    placeholder="" ng-required="true"/>
                                                <label for="payableDate">Payable date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span>
                                            </div>
                                        </datepicker>
                                        <p ng-show="userForm2.payableDate.$touched && userForm2.payableDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required</p>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseNo.$touched && userForm2.purchaseNo.$invalid }">
                                        <input class="form-control input-lg" ng-model="input.purchaseNo" name="purchaseNo" id="purchaseNo" ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                        <label class="labelText" for="purchaseNo">PO number</label>
                                        <p ng-show="userForm2.purchaseNo.$touched && userForm2.purchaseNo.$invalid" class="help-block">PO number is required.</p>
                                        <p ng-show="userForm2.purchaseNo.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseDate.$touched && userForm2.purchaseDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.purchaseDate" name="purchaseDate" id="purchaseDate" ng-required="true"/>
                                                <label for="purchaseDate">PO date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span> 
                                            </div>
                                        </datepicker>
                                        
                                        <p ng-show="userForm2.purchaseDate.$touched && userForm2.purchaseDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                    </div> 
                                </div>
                                <div class="col-md-3 has-float-label labelText">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseAmount.$touched && userForm2.purchaseAmount.$invalid }">
                                            <div class="input-group input-group-error-position-fix">
                                                <span class="input-group-addon leftroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-dollar input-group-icon-position-fix"></i>
                                                </span>
                                                <input class="form-control input-lg roundinput" ng-pattern="/^[0-9]*$/" placeholder=" " name="purchaseAmount" id="purchaseAmount" ng-model="input.purchaseAmount" ng-required="true"/>
                                                <label for="purchaseAmount" style="padding-left: 15px;">Amount</label>
                                            </div>
                                        <p ng-show="userForm2.purchaseAmount.$touched && userForm2.purchaseAmount.$invalid" class="help-block" style="margin-top: 0px !important">Amount is required.</p>
                                        <p ng-show="userForm2.purchaseAmount.$error.pattern" class="help-block">Only numbers allowed.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <!-- <button type="button" class="btn btn-default btn-icon btn-round">
                                                <i class="fa fa-cloud-upload"></i> &nbsp; <span>Browse File</span>
                                    </button> -->

                                    <div class="myLabel">
                                        <input type="file" ngf-select="ngf-select" ng-model="poDocs" name="file"
                                            ngf-pattern="'image/*,application/pdf'" accept="image/*, application/pdf"
                                            ngf-max-size="20MB" />
                                        <i class="fa fa-cloud-upload" style="padding-left: 5px"></i> <span style="padding-left: 5px;">Browse
                                            File</span>
                                    </div>
                                    <img style="width:20px;" ngf-thumbnail="poDocs || '/assets/images/apple-touch-icon-72.png'" />
                                    <div>(Optional)</div>
                                    <i ng-show="poDocs.$error.required">*required</i><br>
                                    <i ng-show="poDocs.$error.maxSize">File too large
                                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                    <p>{{up.progress}}</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 label-invoice">Invoice</div>
                                <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm2.invoiceNo.$touched && userForm2.invoiceNo.$invalid }">
                                                <input class="form-control input-lg" ng-model="input.invoiceNo" name="invoiceNo" id="invoiceNo" ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                                <label class="labelText" for="invoiceNo">Invoice No</label>
                                                <p ng-show="userForm2.invoiceNo.$touched && userForm2.invoiceNo.$invalid" class="help-block">Invoice number is required.</p>
                                                <p ng-show="userForm2.invoiceNo.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                            </div>
                                    
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.invoiceDate.$touched && userForm2.invoiceDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.invoiceDate" name="invoiceDate" id="invoiceDate" ng-required="true"/>
                                                <label for="invoiceDate">Invoice Date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span> 
                                            </div>
                                        </datepicker>
                                        
                                        <p ng-show="userForm2.invoiceDate.$touched && userForm2.invoiceDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                    </div> 
                                </div>
                                <div class="col-md-3 has-float-label labelText">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.invoiceAmount.$touched && userForm2.invoiceAmount.$invalid }">
                                            <div class="input-group input-group-error-position-fix">
                                                <span class="input-group-addon leftroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-dollar input-group-icon-position-fix"></i>
                                                </span>
                                                <input class="form-control input-lg roundinput" ng-pattern="/^[0-9]*$/" placeholder=" " name="invoiceAmount" id="invoiceAmount" ng-model="input.invoiceAmount" ng-required="true"/>
                                                <label for="purchaseAmount" style="padding-left: 15px;">Amount</label>
                                            </div>
                                        <p ng-show="userForm2.invoiceAmount.$touched && userForm2.invoiceAmount.$invalid" class="help-block" style="margin-top: 0px !important">Amount is required.</p>
                                    </div>
                                </div>

                                <div class="col-md-3 has-float-label">
                                    <!-- <button type="button" class="btn btn-default btn-icon btn-round">
                                                <i class="fa fa-cloud-upload"></i> &nbsp; <span>Browse File</span>
                                    </button> -->

                                    <div class="myLabel">
                                        <input type="file" ngf-select="ngf-select" ng-model="invoiceDocs" name="file"
                                            ngf-pattern="'image/*,application/pdf'" accept="image/*,,application/pdf"
                                            ngf-max-size="20MB" />
                                        <i class="fa fa-cloud-upload" style="padding-left: 5px"></i> <span style="padding-left: 5px;">Browse
                                            File</span>
                                    </div>
                                    <img style="width:20px;" ngf-thumbnail="invoiceDocs || '/assets/images/apple-touch-icon-72.png'" />
                                    <div>(Optional)</div>
                                    <i ng-show="invoiceDocs.$error.required">*required</i><br>
                                    <i ng-show="invoiceDocs.$error.maxSize">File too large
                                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                    <p>{{up.progress}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 label-invoice">GRN</div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.grnNo.$touched && userForm2.grnNo.$invalid }">
                                        <input class="form-control input-lg" ng-model="input.grnNo" name="grnNo" id="grnNo" ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                        <label class="labelText" for="grnNo">GRN No</label>
                                        <p ng-show="userForm2.grnNo.$touched && userForm2.grnNo.$invalid" class="help-block">GRN is required.</p>
                                        <p ng-show="userForm2.grnNo.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.grnDate.$touched && userForm2.grnDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.grnDate" name="grnDate" id="grnDate" ng-required="true"/>
                                                <label for="grnDate">GRN Date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span> 
                                            </div>
                                        </datepicker>
                                        
                                        <p ng-show="userForm2.grnDate.$touched && userForm2.grnDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                    </div> 
                                </div>
                                <!-- <div class="col-md-3 has-float-label">
                                    <div class="input-group">
                                     <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-dollar"></i>
                                            </span>
                                    <input class="form-control input-lg" placeholder=" "  ng-model="input.grnAmount" />
                                    <label for="amount" style="padding-left: 15px;">Amount*</label>
                                    </div>
                                </div> -->
                                <div class="col-md-offset-3 col-md-3 has-float-label">
                                    <div class="myLabel">
                                        <input type="file" ngf-select="ngf-select" ng-model="grnDocs" name="file"
                                            ngf-pattern="'image/*,application/pdf'" accept="image/*,,application/pdf"
                                            ngf-max-size="20MB" />
                                        <i class="fa fa-cloud-upload" style="padding-left: 5px"></i> <span style="padding-left: 5px;">Browse
                                            File</span>
                                    </div>
                                    <img style="width:20px;" ngf-thumbnail="grnDocs || '/assets/images/apple-touch-icon-72.png'" />
                                    <div>(Optional)</div>
                                    <i ng-show="grnDocs.$error.required">*required</i><br>
                                    <i ng-show="grnDocs.$error.maxSize">File too large
                                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                    <p>{{up.progress}}</p>
                                </div>
                            </div>
                        </form>
                        <!-- </div> -->
                    </div>
                
                </section>
                <div class="pull-right marg_r_10">
                    <button type="submit" class="btn btn-primary btn-corner" ng-disabled="userForm.$invalid || userForm2.$invalid || isSubmitNowButtonDisabled" ng-click="submitInvoice('draft')">Save Now</button>
                    <button type="submit" class="btn btn-primary btn-corner" ng-disabled="userForm.$invalid || userForm2.$invalid || isSubmitNowButtonDisabled" ng-click="submitInvoice('invoice_created')">Submit
                        Now</button>
                </div>
            
            </div>
        </div>
        
    </section>
</div>
<!-- MAIN CONTENT AREA ENDS -->
