<style>
    .input-lg{
    border-radius: 6;
}
select.soflow, select.soflow-color
{
    border-radius: 6;
}
.myLabel {
    position: relative;
}
.myLabel input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width:100%;
    height:100%;
}
.myLabel {
    /*border: 2px solid #AAA;*/
    border-radius: 15px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
    color: #000;
    width: 50%
}
.myLabel:hover {
    background: #283593;
    color: #fff;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.myLabel:active {
    background: #CCF;
}

.leftroundspan{
      /* border-bottom-right-radius:6px; */
      border-bottom-left-radius:6px !important;
     /* -moz-border-radius-bottomright:6px; */
     -moz-border-radius-bottomleft:6px !important ;
     /* -webkit-border-bottom-right-radius:6px; */
     -webkit-border-bottom-left-radius:6px !important;

      /* -moz-border-radius-topright:6px; */
      -moz-border-radius-topleft:6px !important;
      /* -webkit-border-top-right-radius:6px; */
      -webkit-border-top-left-radius:6px !important;
      /* border-top-right-radius:6px; */
      border-top-left-radius:6px !important;
}

.roundinput{
      border-bottom-right-radius:6px !important;
      /* border-bottom-left-radius:6px; */
     -moz-border-radius-bottomright:6px!important ;
     /* -moz-border-radius-bottomleft:6px; */
     -webkit-border-bottom-right-radius:6px !important;
     /* -webkit-border-bottom-left-radius:6px; */

      -moz-border-radius-topright:6px !important;
      /* -moz-border-radius-topleft:6px; */
      -webkit-border-top-right-radius:6px !important;
      /* -webkit-border-top-left-radius:6px; */
      border-top-right-radius:6px !important;
      /* border-top-left-radius:6px; */
}

.form-bottom-padding{
    margin-bottom: 100px;
}
</style>
<!-- START CONTAINER -->

<div class="row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <div class="container wrapper main-wrapper row form-bottom-padding">

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title"><a href="/dashboard">Supplier Dashboard</a> <span class="request-details">Create
                                Request</span> </h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xs-12">
                <section class="box">
                    <div class="content-body no-top-padd">
                        <div class="row">
                            <div class="col-md-12 invoice-supplier-buy">Buyer Details</div>
                            <form name="userForm" novalidate>
                                <div class="row col-md-12">
                                    <div class="col-md-9 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : !userForm.companyNameData.$touched }">
                                            <select class="soflow form-control input-lg" ng-model="companyNameData" id="companyNameData" name="companyNameData"
                                                ng-options="x.firstName for x in companyOptions" style="padding-top: 20px; padding-left: 18px;"
                                                ng-required="true">
                                            </select>
                                            <label class="labelText" for="companyNameData">Buyer Name</label>
                                            <p ng-show="!userForm.companyNameData.$touched" class="help-block">Please select a buyer.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.companyTypeOptions.$touched && userForm.companyTypeOptions.$invalid }">
                                            <select class="soflow form-control input-lg" ng-model="input.companyType" id="companyTypeOptions" name="companyTypeOptions"
                                                ng-options="x for x in companyTypeOptions" style="padding-top: 20px; padding-left: 18px;"
                                                ng-required="true">
                                            </select>
                                            <label class="labelText" for="companyTypeOptions">Company Type</label>
                                            <p ng-show="!userForm.companyTypeOptions.$touched" class="help-block">Please select a type.</p>
                                            <p ng-show="userForm.companyTypeOptions.$touched && userForm.companyTypeOptions.$invalid" class="help-block">Please select a type.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-6 has-float-label">                            
                                            <!-- ng-pattern="^[a-zA-Z][a-zA-Z\s]*$"-->
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.contactName.$touched && userForm.contactName.$invalid }">
                                            <input class="form-control input-lg" id="contactName" name="contactName" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="input.contactName" placeholder=" " ng-required="true"/>
                                            <label class="labelText" for="contactName">Contact Name</label>
                                            <p ng-show="userForm.contactName.$touched && userForm.contactName.$invalid" class="help-block">Your contact name is required.</p>
                                            <p ng-show="userForm.contactName.$error.pattern" class="help-block">Only alphabets allowed.</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.companyPhone.$touched && userForm.companyPhone.$invalid }">
                                            <div class="input-group">
                                                <span class="input-group-addon leftroundspan border-red" style="cursor: pointer">
                                                    <select>
                                                        <option value="+65">+65</option>
                                                        <option value="+91">+91</option>
                                                    </select>
                                                </span>
                                                
                                                <input class="form-control input-lg roundinput" id="companyPhone" name="companyPhone" ng-model="input.companyPhone"
                                                     ng-pattern="/^[0-9]*$/" placeholder=" " ng-required="true"/>
                                                <label for="companyPhone" style="padding-left: 58px;">Company Phone</label>
                                            </div>
                                            <p ng-show="userForm.companyPhone.$touched && userForm.companyPhone.$invalid" class="help-block">Your contact no is required.</p>
                                            <p ng-show="userForm.companyPhone.$error.pattern" class="help-block">Only numbers allowed.</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.companyEmail.$touched && userForm.companyEmail.$invalid }">
                                            <input class="form-control input-lg" name="companyEmail" id="companyEmail" type="email" ng-model="input.companyEmail" placeholder=" " ng-required="true"/>
                                            <label class="labelText" for="companyEmail">Company Email</label>
                                            <p ng-show="userForm.companyEmail.$touched && userForm.companyEmail.$invalid" class="help-block">Invalid email, please enter valid email.</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-xs-12">
                <section class="box">
                    <div class="content-body no-top-padd">
                        <div class="row">
                            <div class="col-md-12 invoice-supplier-buy">Purchase Details</div>
                            <form name="userForm2" novalidate>
                            <div class="row col-md-12">
                                <div class="col-md-9 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseTitle.$touched && userForm2.purchaseTitle.$invalid }">
                                        <input class="form-control input-lg" id="purchaseTitle" name="purchaseTitle" ng-model="input.purchaseTitle" 
                                        ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                        <label class="labelText" for="purchaseTitle">PO Title</label>
                                        <p ng-show="userForm2.purchaseTitle.$touched && userForm2.purchaseTitle.$invalid" class="help-block">PO Title is required.</p>
                                        <p ng-show="userForm2.purchaseTitle.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-3 has-float-label">
                                    <!-- <datepicker>
                                      <input ng-model="date" placeholder=" " type="text"/>
                                    </datepicker> -->
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.payableDate.$touched && userForm2.payableDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" date-min-limit="{{minPayableDate}}" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.payableDate" name="payableDate" id="payableDate"
                                                    placeholder="" ng-required="true"/>
                                                <label for="payableDate">Payable Date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span>
                                            </div>
                                        </datepicker>
                                        <p ng-show="userForm2.payableDate.$touched && userForm2.payableDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                        
                                    </div>
                                    
                                    
                                    
                                    <!-- <datepicker date-format="yyyy-MM-dd" date-min-limit="{{minPayableDate}}" selector="form-control"
                                        class="">
                                        <div class="input-group">
                                            <input class="form-control input-lg" ng-model="input.payableDate"
                                                placeholder=" "/>
                                            <label for="payable">Payable Date</label>
                                            <span class="input-group-addon" style="cursor: pointer">
                                                <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                        </div>
                                    </datepicker> -->
                                </div>
                                
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-12 label-invoice">PO</div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseNo.$touched && userForm2.purchaseNo.$invalid }">
                                        <input class="form-control input-lg" ng-model="input.purchaseNo" name="purchaseNo" id="purchaseNo" ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                        <label class="labelText" for="purchaseNo">PO No</label>
                                        <p ng-show="userForm2.purchaseNo.$touched && userForm2.purchaseNo.$invalid" class="help-block">PO number is required.</p>
                                        <p ng-show="userForm2.purchaseNo.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseDate.$touched && userForm2.purchaseDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.purchaseDate" name="purchaseDate" id="purchaseDate" ng-required="true"/>
                                                <label for="purchaseDate">PO Date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span> 
                                            </div>
                                        </datepicker>
                                        
                                        <p ng-show="userForm2.purchaseDate.$touched && userForm2.purchaseDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                    </div> 
                                </div>
                                <div class="col-md-3 has-float-label labelText">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.purchaseAmount.$touched && userForm2.purchaseAmount.$invalid }">
                                            <div class="input-group input-group-error-position-fix">
                                                <span class="input-group-addon leftroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-dollar input-group-icon-position-fix"></i>
                                                </span>
                                                <input class="form-control input-lg roundinput" ng-pattern="/^[0-9]*$/" placeholder=" " name="purchaseAmount" id="purchaseAmount" ng-model="input.purchaseAmount" ng-required="true"/>
                                                <label for="purchaseAmount" style="padding-left: 15px;">Amount</label>
                                            </div>
                                        <p ng-show="userForm2.purchaseAmount.$touched && userForm2.purchaseAmount.$invalid" class="help-block" style="margin-top: 0px !important">Amount is required.</p>
                                        <p ng-show="userForm2.purchaseAmount.$error.pattern" class="help-block">Only numbers allowed.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <!-- <button type="button" class="btn btn-default btn-icon btn-round">
                                                <i class="fa fa-cloud-upload"></i> &nbsp; <span>Browse File</span>
                                    </button> -->

                                    <div class="myLabel">
                                        <input type="file" ngf-select="ngf-select" ng-model="poDocs" name="file"
                                            ngf-pattern="'image/*,application/pdf'" accept="image/*, application/pdf"
                                            ngf-max-size="20MB" />
                                        <i class="fa fa-cloud-upload" style="padding-left: 5px"></i> <span style="padding-left: 5px;">Browse
                                            File</span>
                                    </div>
                                    <img style="width:20px;" ngf-thumbnail="poDocs || '/assets/images/apple-touch-icon-72.png'" />
                                    <div>(Optional)</div>
                                    <i ng-show="poDocs.$error.required">*required</i><br>
                                    <i ng-show="poDocs.$error.maxSize">File too large
                                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                    <p>{{up.progress}}</p>
                                </div>

                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-12 label-invoice">Invoice</div>
                                <div class="col-md-3 has-float-label">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm2.invoiceNo.$touched && userForm2.invoiceNo.$invalid }">
                                                <input class="form-control input-lg" ng-model="input.invoiceNo" name="invoiceNo" id="invoiceNo" ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                                <label class="labelText" for="invoiceNo">Invoice No</label>
                                                <p ng-show="userForm2.invoiceNo.$touched && userForm2.invoiceNo.$invalid" class="help-block">Invoice number is required.</p>
                                                <p ng-show="userForm2.invoiceNo.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                            </div>
                                    
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.invoiceDate.$touched && userForm2.invoiceDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.invoiceDate" name="invoiceDate" id="invoiceDate" ng-required="true"/>
                                                <label for="invoiceDate">Invoice Date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span> 
                                            </div>
                                        </datepicker>
                                        
                                        <p ng-show="userForm2.invoiceDate.$touched && userForm2.invoiceDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                    </div> 
                                </div>
                                <div class="col-md-3 has-float-label labelText">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.invoiceAmount.$touched && userForm2.invoiceAmount.$invalid }">
                                            <div class="input-group input-group-error-position-fix">
                                                <span class="input-group-addon leftroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-dollar input-group-icon-position-fix"></i>
                                                </span>
                                                <input class="form-control input-lg roundinput" ng-pattern="/^[0-9]*$/" placeholder=" " name="invoiceAmount" id="invoiceAmount" ng-model="input.invoiceAmount" ng-required="true"/>
                                                <label for="purchaseAmount" style="padding-left: 15px;">Amount</label>
                                            </div>
                                        <p ng-show="userForm2.invoiceAmount.$touched && userForm2.invoiceAmount.$invalid" class="help-block" style="margin-top: 0px !important">Amount is required.</p>
                                    </div>
                                </div>

                                <div class="col-md-3 has-float-label">
                                    <!-- <button type="button" class="btn btn-default btn-icon btn-round">
                                                <i class="fa fa-cloud-upload"></i> &nbsp; <span>Browse File</span>
                                    </button> -->

                                    <div class="myLabel">
                                        <input type="file" ngf-select="ngf-select" ng-model="invoiceDocs" name="file"
                                            ngf-pattern="'image/*,application/pdf'" accept="image/*,,application/pdf"
                                            ngf-max-size="20MB" />
                                        <i class="fa fa-cloud-upload" style="padding-left: 5px"></i> <span style="padding-left: 5px;">Browse
                                            File</span>
                                    </div>
                                    <img style="width:20px;" ngf-thumbnail="invoiceDocs || '/assets/images/apple-touch-icon-72.png'" />
                                    <div>(Optional)</div>
                                    <i ng-show="invoiceDocs.$error.required">*required</i><br>
                                    <i ng-show="invoiceDocs.$error.maxSize">File too large
                                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                    <p>{{up.progress}}</p>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-12 label-invoice">GRN</div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.grnNo.$touched && userForm2.grnNo.$invalid }">
                                        <input class="form-control input-lg" ng-model="input.grnNo" name="grnNo" id="grnNo" ng-pattern="/^[a-z\d\-_\s]+$/i" placeholder=" " ng-required="true"/>
                                        <label class="labelText" for="grnNo">GRN No</label>
                                        <p ng-show="userForm2.grnNo.$touched && userForm2.grnNo.$invalid" class="help-block">GRN is required.</p>
                                        <p ng-show="userForm2.grnNo.$error.pattern" class="help-block">Only alphanumerics allowed.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 has-float-label">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm2.grnDate.$touched && userForm2.grnDate.$invalid }">
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                            <div class="input-group input-group-error-position-fix">
                                                <input class="form-control input-lg" ng-model="input.grnDate" name="grnDate" id="grnDate" ng-required="true"/>
                                                <label for="grnDate">GRN Date</label>
                                                <span class="input-group-addon rightroundspan border-red" style="cursor: pointer">
                                                    <i class="fa fa-lg fa-calendar input-group-icon-position-fix"></i>
                                                </span> 
                                            </div>
                                        </datepicker>
                                        
                                        <p ng-show="userForm2.grnDate.$touched && userForm2.grnDate.$invalid" class="help-block" style="margin-top: 0px !important">Date is required.</p>
                                    </div> 
                                </div>
                                <!-- <div class="col-md-3 has-float-label">
                                    <div class="input-group">
                                     <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-dollar"></i>
                                            </span>
                                    <input class="form-control input-lg" placeholder=" "  ng-model="input.grnAmount" />
                                    <label for="amount" style="padding-left: 15px;">Amount*</label>
                                    </div>
                                </div> -->
                                <div class="col-md-offset-3 col-md-3 has-float-label">
                                    <div class="myLabel">
                                        <input type="file" ngf-select="ngf-select" ng-model="grnDocs" name="file"
                                            ngf-pattern="'image/*,application/pdf'" accept="image/*,,application/pdf"
                                            ngf-max-size="20MB" />
                                        <i class="fa fa-cloud-upload" style="padding-left: 5px"></i> <span style="padding-left: 5px;">Browse
                                            File</span>
                                    </div>
                                    <img style="width:20px;" ngf-thumbnail="grnDocs || '/assets/images/apple-touch-icon-72.png'" />
                                    <div>(Optional)</div>
                                    <i ng-show="grnDocs.$error.required">*required</i><br>
                                    <i ng-show="grnDocs.$error.maxSize">File too large
                                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                    <p>{{up.progress}}</p>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>

            </div>
            <div class="pull-right marg_r_10">
                <button type="submit" class="btn btn-primary btn-corner" ng-disabled="userForm.$invalid || userForm2.$invalid || isSubmitNowButtonDisabled" ng-click="submitInvoice(input, 'draft')">Save Now</button>
                <button type="submit" class="btn btn-primary btn-corner" ng-disabled="userForm.$invalid || userForm2.$invalid || isSubmitNowButtonDisabled" ng-click="submitInvoice(input, 'invoice_created')">Submit
                    Now</button>
            </div>
        </div>
        
    </section>
</div>
<!-- <div class="container">
    <div class="pull-right marg_r_10">
        <button type="submit" class="btn btn-primary btn-corner" ng-disabled="userForm.$invalid || userForm2.$invalid || isSubmitNowButtonDisabled" ng-click="submitInvoice(input, 'draft')">Save Now</button>
        <button type="submit" class="btn btn-primary btn-corner" ng-disabled="userForm.$invalid || userForm2.$invalid || isSubmitNowButtonDisabled" ng-click="submitInvoice(input, 'invoice_created')">Submit
            Now</button>
    </div>
</div> -->
<!-- MAIN CONTENT AREA ENDS -->
</div>
</section>
<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->