
<div class="page-topbar">
        <div class="container">
            <div class="logo-area" ng-click="gotoDashboard()">
            </div>
            <div class="quick-area" ng-show="isLoggedIn">
                <div class='pull-right'>
                    <ul class="info-menu right-links list-inline list-unstyled">
                        <li class="balaceTop">Balance : {{balance}} XDC</li>
                        <li class="profile">
                            <a href="#" data-toggle="dropdown" class="toggle" id="dropdownToggle">
                                <span>{{name}}
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu profile animated fadeIn" role="menu" id="dropdownMenu">
                                <li class="last">
                                    <a href="" ng-click="logOut()">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->
                <div class="sign-msg"> <strong>Please note that this is a demo version of the inFactor which is still undergoing final testing before its official release.</strong><br></div>
                <div><br></div>

                <div class="col-md-12 col-xs-12 sign_up_box">
                    <section class="loginbox">
                        <header class="panel_header">
                            <h1 class="sign-msg1"><strong>Use following credentials to <a class="loginFont" href="/login">LOGIN</a></strong></h1>
                        </header>
                        
                        <div class="sign-msg1">Onboarding new user is currently disabled<br>For any Queries & Feedback contact us at <strong>contact@xinfin.org</strong></div>
                        <div class="sign-msg1">There are 3 entities involved :<br><br>
                            <form>
                            <strong>Supplier :</strong> john@ifactor.org<br> Supplier uploads invoice to the platform.<br>
                            <br>
                            <strong>Buyer :</strong> gm@ifactor.org<br> Buyer Verifys invoice and pay the invoice amount to financer on payout date.<br>
                            <br>
                            <strong>Financer :</strong> alex@ifactor.org<br> Financer propose and provide factoring service to supplier against invoice.
                            <br> (Password is same for all accounts, Password is "123")<br><br>
                            For any further details refer this link: <a class="loginFont" ng-click="redirectToNewTab()" ng-href="">http://ifactor.xinfin.org/docs</a>
                        
                        </div>    
                            
                            <div class="content-body">
                           
                                <!-- <div class="sign-msg"><strong>Supplier: </strong></div><br>
                                <div class="sign-msg"><strong>Buyer: </strong></div><br>
                                <div class="sign-msg"><strong>Financer: </strong></div><br> -->
                            </form>

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>
    <footer>
            <div class="footAdj"></div>
            <div class="page-footer">
                <div class="container">            
                    <div class="copyright">Copyright © 2018 inFactor. All rights reserved.</div>
                </div>
            </div>
            </footer>