<div class="page-topbar">
    <div class="container">
        <div class="logo-area">

        </div>
        <div class="quick-area" ng-show="showHeaderOptions">

            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="doc">
                        <a href="http://infactor.io/docs" target="_blank" class="toggle">
                            <i class="fa fa-book"></i>  
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="/signup" class="toggle">
                            <i class="fa fa-user"></i>
                            <span>Sign Up</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="/login" class="toggle">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>                            
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
    <!-- END TOPBAR -->

    <!-- START CONTAINER -->
    <div class=" row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="box">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">Forgot password?</h1>
                            <div class="col-md-12"><p class="text-light text-center">We will send you a link to reset your password.</p></div>
                        </header>
                        <div class="content-body">
                            <form name="userForm" ng-submit="submitForm()" novalidate>
                                <div class="form-group" ng-class="{ 'has-error' : (!emailFocused && userForm.email.$touched && userForm.email.$invalid && !userForm.email.$error.pattern) || (!emailFocused && userForm.email.$error.pattern)}">
                                    <div class="row">
                                        <div class="col-xs-12 has-float-label">
                                            <input class="form-control input-lg" id="email" name="email" ng-pattern = "/^(?! )[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]{2,})+(?<! )$/" type="email"  ng-focus="emailFocused = true" ng-blur="emailFocused = false" ng-model="input.email" placeholder=" " ng-required="true">
                                            <label class="labelText" for="email">Email</label>
                                            <p ng-if="!emailFocused && userForm.email.$touched && userForm.email.$invalid && !userForm.email.$error.pattern" class="help-block">Your email is required</p>
                                            <p ng-if="!emailFocused && userForm.email.$error.pattern" class="help-block">Invalid email, please enter valid email</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center m-t-20">
                                    <button type="submit" class="btn btn-primary btn-corner btn-lg" ng-click="forgotPassword()" ng-disabled="userForm.$invalid">Send Reset Link</button>
                                </div>
                            </form>

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    

    <!-- <div class="page-footer">
        <div class="container">
            <div class="copyright">Copyright © 2018 iFactor. All rights reserved.</div>
        </div>
    </div> -->
    
