        <!-- START TOPBAR -->
        <div class="page-topbar">
        	<div class="container">
            <div class="logo-area">

            </div>
            <div class="quick-area">
                		
                <div class='pull-right'>
                    <ul class="info-menu right-links list-inline list-unstyled">                        
                        <li class="notify-toggle-wrapper">
                            <a href="#" data-toggle="dropdown" class="toggle">
                                <i class="fa fa-bell"></i>
                                <span>Notification</span>
                            </a>
                            
                            
                            <ul class="dropdown-menu notifications animated fadeIn">
                                <li class="total">
                                    <span class="small">You have 3 new notifications.</span>
                                </li>
                                <li class="list">

                                    <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                        <li class="unread available">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Server needs to reboot</strong>
                                                        <span class="time small">15 mins ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="unread away">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>45 new messages</strong>
                                                        <span class="time small">45 mins ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" busy">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Server IP Blocked</strong>
                                                        <span class="time small">1 hour ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" offline">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>10 Orders Shipped</strong>
                                                        <span class="time small">5 hours ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" offline">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>New Comment on blog</strong>
                                                        <span class="time small">Yesterday</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" available">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Great Speed Notify</strong>
                                                        <span class="time small">14th Mar</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" busy">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Team Meeting at 6PM</strong>
                                                        <span class="time small">16th Mar</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li class="external">
                                    <a href="javascript:;">
                                        <span>Read All Notifications</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="profile">
                            <a href="#" data-toggle="dropdown" class="toggle">
                                <img src="assets/images/profile/profile.jpg" alt="user-image" class="img-circle img-inline">
                                <span>Sagar Sawant <i class="fa fa-angle-down"></i></span>
                            </a>
                            <ul class="dropdown-menu profile animated fadeIn">
                                <li>
                                    <a href="#settings">
                                        <i class="fa fa-wrench"></i>
                                        Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="#profile">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#help">
                                        <i class="fa fa-info"></i>
                                        Help
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="ui-login.html">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>			
                </div>		
            </div>

        </div>
        </div>
        <!-- END TOPBAR -->
        
        
        <!-- START CONTAINER -->
        <div class="page-container row-fluid container-fluid">
            <!-- START CONTENT -->
            <section>
                <div class="container wrapper main-wrapper row" style=''>

                    <div class='col-xs-12'>
                        <div class="page-title">

                            <div class="pull-left">
                                <!-- PAGE HEADING TAG - START -->
                                <h1 class="title"><a href="/dashboard">Dashboard</a> <span class="request-details">Request Details #R125638</span> <span class="date-details">21 Dec 2018, 16:14</span></h1> 
                                <!-- PAGE HEADING TAG - END -->
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- MAIN CONTENT AREA STARTS -->

                    <div class="col-xs-12 col-md-9 col-lg-9">
                        <section class="box">
                            <div class="content-body">
                                <header class="panel_header">
                                  <h5 class="text-light pull-left">BUYER</h5>
                                    
                                </header>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="buyer-header">
                                        	<img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">
                                        	
                                            <div class="info-details">
                                            <h1 class="buyer-title">{{invoiceData.companyName}}</h1>
                                              
                                                <ul class="list-unstyled list-inline">
                                                  <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.contactName}}</li>
                                                    <li class="text-muted"><i class="fa fa-phone"></i> {{invoiceData.companyPhone}}</li>
                                                    <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i>{{invoiceData.companyEmail}}</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                    
                                        <div class="chart-container">
                                            <div class="" style="height:200px" id="user_type"></div>
                                        </div>
                                    </div>      
                                </div> <!-- End .row -->
                            </div>
                        </section>
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Platforms Used</h2>                                
                            </header>
                            <div class="content-body">    <div class="row">
                                    <div class="col-xs-12">
                                        <div class="chart-container">
                                            <div class="" style="height:200px" id="platform_type_dates"></div>
                                        </div>
                                    </div>      
                                </div> <!-- End .row -->
                            </div>
                        </section>
                    </div>
                    <!-- MAIN CONTENT AREA ENDS -->
                </div>
            </section>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
      