<div class="page-topbar">
    <div class="container">
        <div class="logo-area">

        </div>
        <div class="quick-area">

            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <!-- <li>
                        <a href="http://infactor.io/docs" target="_blank" class="balaceTop">Documentaion</a>
                        <i class="fa fa-user"></i>
                    </li> -->
                    <li >
                        <a href="http://infactor.io/docs" target="_blank" class="toggle">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li >
                        <a href="" class="toggle" ng-click="goToSignup()">
                            <i class="fa fa-user"></i>
                            <span>Sign Up</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="sign-msg"> <strong>Please note that this is a demo version of the inFactor which is still undergoing final testing before its official release.</strong><br>To access the platform, use dummy <a class="loginFont" href="/creds">Credentials</a></div><div><br></div>

                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="loginbox">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">Get started</h1>
                        </header>
                            <div class="sign-msg">We connect global Buyers, Suppliers and Financiers using inFactor Platform</div>
                        
                        <div class="content-body">
                            <!-- <form action="" id="loginForm" class="" method="post" enctype="multipart/form-data" accept-charset="utf-8" novalidate="novalidate"> -->
                            <!-- START -->
                            <!-- <span ng-click="togglePasswordField()" style="color: blue">{{showHideText}}</span> -->
                            <form name="userForm" ng-submit="submitForm()" novalidate>
                                <!-- <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg input-lg-login" id="email" type="email" placeholder=" " name="username" ng-model="username" />
                                        <label for="email">EMAIL ID*</label>
                                    </div>
                                </div> -->
                                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$touched && userForm.email.$invalid }">
                                    <div class="row">
                                        <div class="col-xs-12 has-float-label">
                                            <input class="form-control input-lg" id="email" name="email" type="email"  ng-model="username" placeholder=" " ng-required="true">
                                            <label class="labelText" for="email">Email</label>
                                            <p ng-show="userForm.email.$touched && userForm.email.$invalid" class="help-block">Invalid email, please enter valid email.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : (userForm.password.$dirty && userForm.password.$error.minlength) || (userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.minlength) }">
                                    <div class="row">
                                        <div class="col-xs-12 has-float-label">
                                            <input class="form-control input-lg" id="password" name="password" type="{{showHideType}}"  ng-model="password" placeholder=" " ng-required="true">
                                            <label class="labelText" for="password">Password</label>
                                            <span class="showpass" ng-click="togglePasswordField()" style="color: blue; cursor: pointer;">{{showHideText}}</span>
                                            <!-- <p ng-show="userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.minlength" class="help-block">Password is required</p>
                                            <p ng-show="userForm.password.$dirty && userForm.password.$error.minlength" class="help-block">Password too short</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input type="{{showHideType}}" class="form-control input-lg input-lg-login" id="password" placeholder=" " ng-model="password" /> 
                                        <label for="password">PASSWORD*</label>
                                        <span class="showpass" ng-click="togglePasswordField()" style="color: blue; cursor: pointer;">{{showHideText}}</span>
                                    </div>
                                </div> -->
                                
                                <div class="row text-center m-t-20">
                                    <button type="submit" class="btn btn-primary btn-corner-login btn-lg" ng-click="login()">Sign In</button>
                                </div>
                            </form>
                            
                            <div><br></div>
                           
                            
                           <!-- <div class="row text-center m-t-20">
                            	<div class="col-md-12"><p class="text-center"><a href="/forgot-password">Forgot Password</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/signup">Register Now</a></p>
                           	  </div> -->
                            </div>

                            <!-- END -->
                            <!-- </form> -->

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>

    <!-- <footer>
    <div class="footAdj"></div>
    <div class="page-footer">
        <div class="container">            
            <div class="copyright">Copyright © 2018 inFactor. All rights reserved.</div>
        </div>
    </div>
    </footer> -->