
<div class="page-topbar">
    <div class="container">
        <a href="/">
            <div class="logo-area"></div>
        </a>
        <div class="quick-area" ng-show="showHeaderOptions">

            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="doc">
                        <a href="http://infactor.io/docs" target="_blank" class="toggle">
                            <i class="fa fa-book"></i>  
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="/signup" class="toggle">
                            <i class="fa fa-user"></i>
                            <span>Sign Up</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


    <div class=" row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" >

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="sign-msg"> <strong>Please note that this is a demo version of the InFactor which is still undergoing final testing before its official release.</strong><br>To access the platform, use dummy <a class="loginFont" href="/creds">Credentials</a></div><div><br></div>

                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="loginbox">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">Get started</h1>
                        </header>
                            <div class="sign-msg">We connect global Buyers, Suppliers and Financiers using InFactor platform</div>
                        
                        <div class="content-body">
                            <form name="userForm" ng-submit="login()" novalidate>
                                <div class="form-group" ng-class="{ 'has-error' : (!emailFocused && userForm.email.$touched && userForm.email.$invalid && !userForm.email.$error.pattern) || (!emailFocused && userForm.email.$error.pattern)}">
                                    <div class="row">
                                        <div class="col-xs-12 has-float-label">
                                            <input class="form-control input-lg" id="email" name="email" ng-pattern = "/^(?! )[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]{2,})+(?<! )$/" type="email"  ng-focus="emailFocused = true" ng-blur="emailFocused = false" ng-model="input.email" placeholder=" " ng-required="true">
                                            <label class="labelText" for="email">Email</label>
                                            <p ng-if="!emailFocused && userForm.email.$touched && userForm.email.$invalid && !userForm.email.$error.pattern" class="help-block">Your email is required</p>
                                            <p ng-if="!emailFocused && userForm.email.$error.pattern" class="help-block">Invalid email, please enter valid email</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : (!passwordFocused && userForm.password.$touched && !userForm.password.$error.minlength && !userForm.password.$error.maxlength && userForm.password.$invalid)
                                                                    || (!passwordFocused && (userForm.password.$error.minlength || userForm.password.$error.maxlength)) }">
                                    <div class="row">
                                        <div class="col-xs-12 has-float-label">
                                            <div class = "input-group password-input-group">
                                                <input type="{{showHideType}}" name="password" id="password" class="form-control input-lg" ng-model="input.password" ng-minlength="6" ng-maxlength="15" ng-focus="passwordFocused = true" ng-blur="passwordFocused = false" placeholder=" " ng-required="true"/>
                                                <label for="password">Password</label>
                                                <span class="input-group-addon rightroundspan" ng-click="togglePasswordField()" >
                                                <span class="{{showHideClass}}" style="cursor:pointer"></span>
                                                    </span>
                                            </div>
                                            <p ng-if="!passwordFocused && userForm.password.$touched && !userForm.password.$error.minlength && !userForm.password.$error.maxlength && userForm.password.$invalid" class="help-block">Please type your password</p>
                                            <p ng-if="!passwordFocused && (userForm.password.$error.minlength || userForm.password.$error.maxlength)" class="help-block">Please check your password</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row text-center m-t-20">
                                    <button type="submit" class="btn btn-primary btn-corner-login btn-lg" ng-disabled="userForm.$invalid">Sign In</button>
                                </div>
                            </form>
                            
                            <div><br></div>
                           
                            
                           <div class="row text-center m-t-20">
                            	<div class="col-md-12"><p class="text-center"><a href="/forgot-password">Forgot password?</a></p>
                           	  </div>
                            </div>

                            <!-- END -->
                            <!-- </form> -->

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>

    <!-- <footer>
    <div class="footAdj"></div>
    <div class="page-footer">
        <div class="container">            
            <div class="copyright">Copyright © 2018 InFactor. All rights reserved.</div>
        </div>
    </div>
    </footer> -->