
    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="sign-msg"> <strong>Please note that this is a demo version of the iFactor which is still undergoing final testing before its official release.</strong><br>To access the platform, use dummy <a href="/creds">Credentials</a></div><div><br></div>

                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="loginbox">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">GET STARTED</h1>
                        </header>
                            <div class="sign-msg">We connect global Buyers, Suppliers and Financiers using iFactor Platform</div>
                        
                        <div class="content-body">
                            <!-- <form action="" id="loginForm" class="" method="post" enctype="multipart/form-data" accept-charset="utf-8" novalidate="novalidate"> -->
                            <!-- START -->
                            <!-- <span ng-click="togglePasswordField()" style="color: blue">{{showHideText}}</span> -->
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input class="form-control input-lg input-lg-login" id="email" type="email" placeholder=" " name="username" ng-model="username" />
                                    <label for="email">EMAIL ID*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input type="{{showHideType}}" class="form-control input-lg input-lg-login" id="password" placeholder=" " ng-model="password" /> 
                                    <label for="password">PASSWORD*</label>
                                    <span class="showpass" ng-click="togglePasswordField()" style="color: blue; cursor: pointer;">{{showHideText}}</span>
                                </div>
                            </div>
                            
                            <div class="row text-center m-t-20">
                            	<button type="submit" class="btn btn-primary btn-corner-login btn-lg" ng-click="login()">Sign In</button>
                            </div>
                            <div><br></div>
                           
                            
                           <!-- <div class="row text-center m-t-20">
                            	<div class="col-md-12"><p class="text-center"><a class="not-active" href="forgot-password.html">Forgot Password</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/signup">Register Now</a></p>
                           	  </div>
                            </div> -->

                            <!-- END -->
                            <!-- </form> -->

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>