<div class="page-topbar">
    <div class="container">
        <div class="logo-area">

        </div>
        <div class="quick-area" ng-show="showHeaderOptions">
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="doc">
                        <a href="http://infactor.io/docs" target="_blank" class="toggle">
                            <i class="fa fa-book"></i>  
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="/signup" class="toggle">
                            <i class="fa fa-user"></i>
                            <span>Sign Up</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="/login" class="toggle">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>                            
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
<!-- END TOPBAR -->

<!-- START CONTAINER -->
<div class=" row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <div class="container wrapper main-wrapper row" style=''>

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">&nbsp;</h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-md-6 col-xs-12 sign_up_box">
                <section class="box">
                    <header class="panel_header">
                        <h1 class="title no-padd text-center">Reset password</h1>
                </header>
                <div class="col-xs-12 has-float-label sign_up_box">
                   Password should be atleast 6 characters long and should contain one number,
                    one character and one special character.
                </div>

                    <div class="content-body">
                        <form name="userForm" ng-submit="submitForm()" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : (!passwordFocused && userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.pattern) || (!passwordFocused && userForm.password.$error.pattern) }">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="password" name="password" type="password" ng-focus="passwordFocused = true" ng-blur="passwordFocused = false"
                                        ng-model="input.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,15}$/" placeholder=" " ng-required="true">
                                        <label class="labelText" for="password">New password</label>
                                        <p ng-if="!passwordFocused && userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.pattern" class="help-block">Password is required</p>
                                        <p ng-if="!passwordFocused && userForm.password.$error.pattern" class="help-block">
                                            Please match the password requirements mentioned above</p>
                                     </div>
                                </div>
                            </div>
                            <!-- START -->
                            <div class="form-group" ng-class="{ 'has-error' : (!passwordFocused && !confirmPasswordFocused && userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid) || (!confirmPasswordFocused && !passwordFocused   && userForm.confirmPassword.$error.compare)}">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="confirmPassword" name="confirmPassword" type="password" ng-focus="confirmPasswordFocused = true" ng-blur="confirmPasswordFocused = false"
                                        ng-compare="password" ng-model="input.confirmPassword" placeholder=" " ng-required="true">
                                        <label class="labelText" for="confirmPassword">Re-type new password</label>
                                        <p ng-if="!passwordFocused && !confirmPasswordFocused && userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid && !userForm.confirmPassword.$error.compare" class="help-block">Confirm password is required</p>
                                        <p ng-if="!passwordFocused && userForm.confirmPassword.$error.compare" class="help-block">Confirm password does not match.</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row text-center m-t-20">
                            <button type="submit" class="btn btn-primary btn-corner btn-lg" ng-click="resetPassword()" ng-disabled="userForm.$invalid">Submit</button>
                        </div>
                        <br>

                        <!-- END -->
                        </form>

                    </div>
                </section>
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->


<!-- <div class="page-footer">
    <div class="container">
        <div class="copyright">Copyright © 2018 iFactor. All rights reserved.</div>
    </div>
</div> -->

