<div class="page-topbar">
    <div class="container">
        <a href="/">
            <div class="logo-area"></div>
        </a>
        <div class="quick-area">
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="doc">
                        <a href="http://infactor.io/docs" target="_blank" class="toggle">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="/login" class="toggle">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>                            
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

    <div class=" row-fluid container-fluid">
        <section>
            <div class="container wrapper main-wrapper row">

                <div class='col-xs-12'>
                    <div class="page-title">
                        <div class="pull-left">
                            <h1 class="title">&nbsp;</h1>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="loginbox">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">Create your InFactor account</h1>
                        </header>
                        <div class="sign-msg">We connect global Buyers, Suppliers and Financiers using InFactor Platform</div>
                        <div class="content-body">
                            <form name="userForm" novalidate>

                            <div class="form-group" ng-class="{ 'has-error' : (!firstNameFocused && userForm.firstName.$touched && userForm.firstName.$invalid && !userForm.firstName.$error.pattern) || (!firstNameFocused && userForm.firstName.$error.pattern)}">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="firstName" name="firstName" ng-pattern ="/^(?! )[A-Za-z]*[ ]{0,1}[A-Za-z]*(?<! )$/" ng-trim="false" ng-focus="firstNameFocused = true" ng-blur="firstNameFocused = false" type="text" ng-model="input.firstName" ng-required="true" placeholder=" ">
                                        <label class="labelText" for="firstName">First Name</label>
                                        <p ng-if="!firstNameFocused && userForm.firstName.$touched && userForm.firstName.$invalid && !userForm.firstName.$error.pattern" class="help-block">Your first name is required</p>
                                        <p ng-if="userForm.firstName.$error.pattern" class="help-block">Numbers are not allowed, no spaces at either ends too<br>Maximum two words separate by a space</p>
                                    </div>   
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (!lastNameFocused && userForm.lastName.$touched && userForm.lastName.$invalid && !userForm.lastName.$error.pattern) || (!lastNameFocused && userForm.lastName.$error.pattern)}">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="lastName" name="lastName" ng-pattern ="/^(?! )[A-Za-z]*(?<! )$/" ng-trim="false" ng-focus="lastNameFocused = true" ng-blur="lastNameFocused = false" type="text"  ng-model="input.lastName" placeholder=" " ng-required="true">
                                        <label class="labelText" for="lastName">Last Name</label>
                                        <p ng-if="!lastNameFocused && userForm.lastName.$touched && userForm.lastName.$invalid && !userForm.lastName.$error.pattern" class="help-block">Your last name is required</p>
                                        <p ng-if="userForm.lastName.$error.pattern" class="help-block">Numbers are not allowed, no spaces at either ends too<br>Maximum one word</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (!emailFocused && userForm.email.$touched && userForm.email.$invalid && !userForm.email.$error.pattern) || (!emailFocused && userForm.email.$error.pattern)}">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="email" name="email" ng-pattern = "/^(?! )[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]{2,})+(?<! )$/" type="email"  ng-focus="emailFocused = true" ng-blur="emailFocused = false" ng-model="input.email" placeholder=" " ng-required="true">
                                        <label class="labelText" for="email">Email</label>
                                        <p ng-if="!emailFocused && userForm.email.$touched && userForm.email.$invalid && !userForm.email.$error.pattern" class="help-block">Your email is required</p>
                                        <p ng-if="!emailFocused && userForm.email.$error.pattern" class="help-block">Invalid email, please enter valid email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (!passwordFocused && userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.pattern) || (!passwordFocused && userForm.password.$error.pattern) }">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="password" name="password" type="password" ng-focus="passwordFocused = true" ng-blur="passwordFocused = false" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,15}$/" ng-model="input.password" placeholder=" " ng-required="true">
                                        <label class="labelText" for="password">Password</label>
                                        <p ng-if="!passwordFocused && userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.pattern" class="help-block">Password is required</p>
                                        <p ng-if="passwordFocused || (!passwordFocused && userForm.password.$error.pattern)" class="help-block">
                                            Password length should be 6-15 characters<br>
                                            Must contain atleast one number, one character and one special character</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (!passwordFocused && !confirmPasswordFocused && userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid) || (!confirmPasswordFocused && !passwordFocused   && userForm.confirmPassword.$error.compare)}">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="confirmPassword" name="confirmPassword" type="password" ng-compare="password"  ng-focus="confirmPasswordFocused = true" ng-blur="confirmPasswordFocused = false" ng-model="input.confirmPassword" placeholder=" " ng-required="true">
                                        <label class="labelText" for="confirmPassword">Confirm password</label>
                                        <p ng-if="!passwordFocused && !confirmPasswordFocused && userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid && !userForm.confirmPassword.$error.compare" class="help-block">Confirm password is required</p>
                                        <p ng-if="!passwordFocused && userForm.confirmPassword.$error.compare" class="help-block">Confirm password does not match.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row input-lg">
                                <div class="col-md-12">
                                    <p>Register as</p>
                                </div>
                                
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="radio" id="b-option" name="selector" value="Buyer" ng-model="input.type" class="icheck-minimal-purple" ng-required="true">
                                            <label for="b-option" class="iradio-label form-label">Buyer</label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                         <li>
                                            <input type="radio" id="s-option" name="selector" value="Supplier" ng-model="input.type" class="icheck-minimal-purple" ng-required="true">
                                            <label for="s-option" class="iradio-label form-label">Supplier</label>
                                         </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="radio" id="f-option" name="selector" value="Financer" ng-model="input.type" class="icheck-minimal-purple" ng-required="true">
                                            <label for="f-option" class="iradio-label form-label">Financer</label>
                                        </li>                                        
                                    </ul>
                                </div>
                                
                            </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exampleCheck1" ng-model="check" ng-required="true">
                                <label class="form-check-label" for="exampleCheck1" style="font-weight: 400; padding-top: 10px;">I agree to Terms & Conditions</label>
                            </div>
                            
                            <div class="row text-center m-t-20">
                                <button class="btn btn-primary btn-corner-login btn-lg" ng-click="signup()" ng-disabled="userForm.$invalid">Sign Up</button>
                            </div>
                            
                            <div class="row text-center m-t-20">
                                <div class="col-md-12"><p class="text-center">By clicking Sign Up, you agree to InFactor's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></div>
                            </div>
                        </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>