

    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="box">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">CREATE YOUR IFACTOR ACCOUNT</h1>
                        </header>
                        <div class="sign-msg">We connect gobal Beneficiaries, Suppliers and Financers using iFactor Platform</div>
                        <div class="content-body">
                            <form>
                            <!-- START -->
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input class="form-control input-lg" id="firstName" type="text"  ng-model="input.firstName" placeholder="First Name*"/>
                                    <label for="firstName">First Name*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input class="form-control input-lg" id="lastName" type="text"  ng-model="input.lastName" placeholder="Last Name*"/>
                                    <label for="lastName">Last Name*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input class="form-control input-lg" id="email" type="email"  ng-model="input.email" placeholder="Email Id*"/>
                                    <label for="email">Email Id*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input class="form-control input-lg" id="password" type="password"  ng-model="input.password" placeholder="Password*"/>
                                    <label for="password">Password*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 has-float-label">
                                    <input class="form-control input-lg" id="confirmPassword" type="password"  placeholder="Confirm password*"/>
                                    <label for="confirmPassword">Confirm password*</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="row register_as_group">
                                <div class="col-md-12">
                                    <p>REGISTER AS</p>
                                </div>
                                
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="radio" id="b-option" name="selector" value="Buyer" ng-model="input.type" class="icheck-minimal-purple">
                                            <label for="b-option" class="iradio-label form-label">Buyer</label>
                                            <div class="check"></div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                         <li>
                                            <input type="radio" id="s-option" name="selector" value="Supplier" ng-model="input.type" class="icheck-minimal-purple">
                                            <label for="s-option" class="iradio-label form-label">Supplier</label>
                                            <div class="check"></div>
                                         </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="radio" id="f-option" name="selector" value="Financer" ng-model="input.type" class="icheck-minimal-purple">
                                            <label for="f-option" class="iradio-label form-label">Financer</label>
                                            <div class="check"></div>
                                        </li>                                        
                                    </ul>
                                </div>
                                
                            </div>
                            </div>
                            
                            <div class="row text-center m-t-20">
                                <button class="btn btn-primary btn-corner btn-lg" ng-click="signup()">Sign Up</button>
                            </div>
                            
                            <div class="row text-center m-t-20">
                                <div class="col-md-12"><p class="text-center">By clicking Sign Up, you agree to iFactor's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></div>
                            </div>

                            <!-- END -->
                            </form>

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>