<div class="page-topbar">
    <div class="container">
        <div class="logo-area">

        </div>
        <div class="quick-area">

            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <!-- <li>
                        <a href="http://infactor.io/docs" target="_blank" class="balaceTop">Documentaion</a>
                        <i class="fa fa-user"></i>
                    </li> -->
                    <li >
                        <a href="http://test.infactor.io/docs" target="_blank" class="toggle">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="" class="toggle" ng-click="goToLogin()">
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>                            
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

    <!-- START CONTAINER -->
    <div class=" row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">&nbsp;</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-md-6 col-xs-12 sign_up_box">
                    <section class="loginbox">
                        <header class="panel_header">
                            <h1 class="title no-padd text-center">Create your InFactor account</h1>
                        </header>
                        <div class="sign-msg">We connect global Buyers, Suppliers and Financiers using inFactor Platform</div>
                        <div class="content-body">
                            <form name="userForm" novalidate>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$touched && userForm.firstName.$invalid }">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="firstName" name="firstName" type="text" ng-model="input.firstName" ng-required="true" placeholder=" ">
                                        <label class="labelText" for="firstName">First Name</label>
                                        <p ng-show="userForm.firstName.$touched && userForm.firstName.$invalid" class="help-block">Your first name is required.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- START -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$touched && userForm.lastName.$invalid }">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="lastName" name="lastName" type="text"  ng-model="input.lastName" placeholder=" " ng-required="true">
                                        <label class="labelText" for="lastName">Last Name</label>
                                        <p ng-show="userForm.lastName.$touched && userForm.lastName.$invalid" class="help-block">Your last name is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$touched && userForm.email.$invalid }">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="email" name="email" type="email"  ng-model="input.email" placeholder=" " ng-required="true">
                                        <label class="labelText" for="email">Email</label>
                                        <p ng-show="userForm.email.$touched && userForm.email.$invalid" class="help-block">Invalid email, please enter valid email.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (userForm.password.$dirty && userForm.password.$error.minlength) || (userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.minlength) }">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="password" name="password" type="password"  ng-model="input.password" ng-minlength="6" placeholder=" " ng-required="true">
                                        <label class="labelText" for="password">Password</label>
                                        <p ng-show="userForm.password.$touched && userForm.password.$invalid && !userForm.password.$error.minlength" class="help-block">Password is required</p>
                                        <p ng-show="userForm.password.$dirty && userForm.password.$error.minlength" class="help-block">Password too short</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid && !userForm.confirmPassword.$error.minlength) || (userForm.confirmPassword.$error.compare)}">
                                <div class="row">
                                    <div class="col-xs-12 has-float-label">
                                        <input class="form-control input-lg" id="confirmPassword" name="confirmPassword" type="password" ng-compare="password" ng-model="input.confirmPassword" placeholder=" " ng-required="true">
                                        <label class="labelText" for="confirmPassword">Confirm password</label>
                                        <p ng-show="userForm.confirmPassword.$touched && !userForm.confirmPassword.$dirty && userForm.confirmPassword.$invalid && !userForm.confirmPassword.$error.minlength" class="help-block">Confirm password is required</p>
                                        <p ng-show="userForm.confirmPassword.$error.compare" class="help-block">Confirm password does not match.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row input-lg">
                                <div class="col-md-12">
                                    <p>Register as</p>
                                </div>
                                
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="radio" id="b-option" name="selector" value="Buyer" ng-model="input.type" class="icheck-minimal-purple" ng-required="true">
                                            <label for="b-option" class="iradio-label form-label">Buyer</label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                         <li>
                                            <input type="radio" id="s-option" name="selector" value="Supplier" ng-model="input.type" class="icheck-minimal-purple" ng-required="true">
                                            <label for="s-option" class="iradio-label form-label">Supplier</label>
                                         </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="radio" id="f-option" name="selector" value="Financer" ng-model="input.type" class="icheck-minimal-purple" ng-required="true">
                                            <label for="f-option" class="iradio-label form-label">Financer</label>
                                        </li>                                        
                                    </ul>
                                </div>
                                
                            </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exampleCheck1" ng-model="check" ng-required="true">
                                <label class="form-check-label" for="exampleCheck1" style="font-weight: 400; padding-top: 10px;">I agree to Terms & Conditions</label>
                            </div>
                            
                            <div class="row text-center m-t-20">
                                <button class="btn btn-primary btn-corner-login btn-lg" ng-click="signup()" ng-disabled="userForm.$invalid">Sign Up</button>
                            </div>
                            
                            <div class="row text-center m-t-20">
                                <div class="col-md-12"><p class="text-center">By clicking Sign Up, you agree to inFactor's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p></div>
                            </div>

                            <!-- END -->
                        </form>

                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>