<!-- START TOPBAR -->
<div class="page-topbar">
	<div class="container">
    <div class="logo-area">

    </div>
    <div class="quick-area">
        		
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">                        
                <li class="notify-toggle-wrapper">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <i class="fa fa-bell"></i>
                        <span>Notification</span>
                    </a>
                    
                    
                    <ul class="dropdown-menu notifications animated fadeIn">
                        <li class="total">
                            <span class="small">You have 3 new notifications.</span>
                        </li>
                        <li class="list">

                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread available">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Server needs to reboot</strong>
                                                <span class="time small">15 mins ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="unread away">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>45 new messages</strong>
                                                <span class="time small">45 mins ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" busy">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Server IP Blocked</strong>
                                                <span class="time small">1 hour ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" offline">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>10 Orders Shipped</strong>
                                                <span class="time small">5 hours ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" offline">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>New Comment on blog</strong>
                                                <span class="time small">Yesterday</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" available">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Great Speed Notify</strong>
                                                <span class="time small">14th Mar</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" busy">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Team Meeting at 6PM</strong>
                                                <span class="time small">16th Mar</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>

                            </ul>

                        </li>

                        <li class="external">
                            <a href="javascript:;">
                                <span>Read All Notifications</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <img src="assets/images/profile/profile.jpg" alt="user-image" class="img-circle img-inline">
                        <span>Sagar Sawant <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li>
                            <a href="#settings">
                                <i class="fa fa-wrench"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#profile">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#help">
                                <i class="fa fa-info"></i>
                                Help
                            </a>
                        </li>
                        <li class="last">
                            <a href="ui-login.html">
                                <i class="fa fa-lock"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>			
        </div>		
    </div>

</div>
</div>
<!-- END TOPBAR -->


<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <div class="container wrapper main-wrapper row" style=''>

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">Dashboard</h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->





            <div class="col-xs-12">
                <section class="box">
                    <div class="content-body no-top-padd">
                    <div class="row">
                            <div class="col-xs-12">
                            	<div class="table-responsive" data-pattern="priority-columns">
                                <table id="example-1" class="table table-striped dt-responsive display">
                                    <thead>
                                        <tr>
                                            <th>Request No</th>
                                            <th>Buyer Name</th>
                                            <th>PO Title</th>
                                            <th class="text-right">Amount</th>
                                            <th class="text-right">Days to Payout</th>
                                            <th class="text-right">Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1000406</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,000</td>
                                            <td class="text-right">200</td>
                                            <td class="text-right"><a href=""><span class="label label-pending">Pending</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000799</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 2,00,400</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1010500</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">350</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1010000</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>MyCompany PVT LTD</span>                                                    </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">250</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1009587</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Cloudhosting</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 5,000</td>
                                            <td class="text-right">80</td>
                                            <td class="text-right"><a href=""><span class="label label-pending">Pending</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000001</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">111</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1002547</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,44,000</td>
                                            <td class="text-right">80</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000501</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 3,00,251</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000368</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 2,00,400</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000500</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Club Mahindra</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">350</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000689</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>MyCompany PVT LTD</span>                                                    </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">250</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000258</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 5,000</td>
                                            <td class="text-right">80</td>
                                            <td class="text-right"><a href=""><span class="label label-pending">Pending</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000786</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">111</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1002547</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,44,000</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000111</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 3,00,251</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000799</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 2,00,400</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1010500</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">350</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1010000</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>MyCompany PVT LTD</span>                                                    </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">250</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1009587</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Cloudhosting</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 5,000</td>
                                            <td class="text-right">80</td>
                                            <td class="text-right"><a href=""><span class="label label-pending">Pending</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>10005478</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">111</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>12350000</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,44,000</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000501</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 3,00,251</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>30000014</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 2,00,400</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000500</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Club Mahindra</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">350</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>21587904</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>MyCompany PVT LTD</span>                                                    </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">250</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>23000014</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-usd" aria-hidden="true"></i> 5,000</td>
                                            <td class="text-right">80</td>
                                            <td class="text-right"><a href=""><span class="label label-pending">Pending</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>1000786</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref-india-pvt-ltd.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref India PVT LTD</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops with Earphones</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</td>
                                            <td class="text-right">111</td>
                                            <td class="text-right"><a href=""><span class="label label-approved">Approved</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>12458790</td>
                                            <td>
                                            <div id="buyer-logo">
                                            	<i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                            	<span>Crossref</span>
                                            </div>
                                            </td>
                                            <td>10 Dell Laptops</td>
                                            <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 1,44,000</td>
                                            <td class="text-right">180</td>
                                            <td class="text-right"><a href=""><span class="label label-rejected">Rejected</span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
        
        