<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <div class="container wrapper main-wrapper row" style=''>

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title"><a href="/dashboard">Dashboard</a> <span class="request-details">Request Details #R125638</span> <span class="date-details">21 Dec 2018, 16:14</span></h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xs-12 col-md-9 col-lg-9">
                <section class="box">
                    <div class="content-body">
                        <header class="panel_header">
                            <h5 class="text-light pull-left text-uppercase">Buyer</h5>
                        </header>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="buyer-header">
                                    <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">

                                    <div class="info-details">
                                        <h1 class="buyer-title">{{invoiceData.companyName}}</h1>

                                        <ul class="list-unstyled list-inline no-bottom-marg">
                                            <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.contactName}}</li>
                                            <li class="text-muted"><i class="fa fa-phone"></i> {{invoiceData.companyPhone}}</li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i> {{invoiceData.companyEmail}}</a></li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="purchase-details">
                                    <h5 class="text-light text-uppercase">Purchase Details</h5>

                                    <h1>{{invoiceData.purchaseTitle}}</h1>
                                    <div class="price-badge">
                                        <div class="amount text-muted">Amount : <span class="bold"><i class="fa fa-inr" aria-hidden="true"></i> {{invoiceData.purchaseAmount}}</span></div>
                                        <div class="period text-muted">Days to Payout : <span class="bold">{{getDatesDiff(invoiceData.payableDate)}} Days</span></div>
                                    </div>
                                </div>

                            </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>PO Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.purchaseNo}}</li>
                                            <li>{{invoiceData.purchaseDate}}</li>
                                            <li><strong>${{invoiceData.purchaseAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Invoice Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.invoiceNo}}</li>
                                            <li>{{invoiceData.invoiceDate}}</li>
                                            <li><strong>${{invoiceData.invoiceAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Grn Details</h3>
                                        </div>

                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.grnNo}}</li>
                                            <li>{{invoiceData.grnDate}}</li>
                                            <li>{{invoiceData.grnAmount}}</li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                            <div class="clearfix"></div>

                            <div class="col-md-12">

                                <div class="verification-details">
                                    <h5 class="text-uppercase">Verification Details</h5>
                                    <div id="buyer-header" class="no-bottom-border">
                                        <img src="assets/images/logos/buyer/blocks.jpg" alt="" class="img-circle circle-border">

                                        <div class="info-details">
                                            <h1 class="buyer-title f-w-4">#0x6f331dea30b9cff852cb80e4fc489dbf1c8ff82bd8494850716ba3f106d6bdc0 is <span class="text-primary">published on blockchain</span> at 31st Dec 2018, 16:30</h1>

                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <p class="text-muted">Address</p>
                                        <p>0xa1ff1153f68d8f0a8377f200d59b34034fcf19</p>
                                    </div>

                                    <div class="m-b-15">
                                        <p class="text-muted">BlockNumber</p>
                                        <p>17068</p>
                                    </div>

                                    <div class="m-b-15">
                                        <p class="text-muted">Status</p>
                                        <p>Approved</p>
                                    </div>

                                    <div class="m-b-15">
                                        <p class="text-muted">_id</p>
                                        <p>17068_0_0</p>
                                    </div>

                                    <div class="m-b-15">
                                        <p class="text-muted">Time Stamp</p>
                                        <p>1522811430794832400</p>
                                    </div>

                                    <div class="m-b-15">
                                        <p class="text-muted">Remark</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">

                    <div class="content-body">
                        <div class="row">

                            <!-- Buyer Confirmation -->
                            <!-- buyer-supplier-request-to-buyer.html -->
                            <!-- need api ...used  approveInvoice, rejectInvoice-->
                            <div class="col-md-12" ng-show="invoiceData.state == 'invoice_created'">
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Goods Delivered</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">2</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Buyer Confirmation</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details">
                                    <div class="clearfix"></div>
                                    <h1 class="f-w-4">Respond Now</h1>
                                    <div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea rows="6" class="form-control input-lg" id="description" placeholder="Description*"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-primary btn-corner btn-block" ng-click="approveInvoice()">Approve</button>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-border btn-primary btn-corner btn-block" ng-click="rejectInvoice()">Reject</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before">
                                <div id="header-blue">
                                <i class="fa icon-rounded icon-primary fa-number">3</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Factoring Request</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">4</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Payment Disbursed</h1>
                                    </div>
                                </div>
                                <div id="header-blue" class="no-after">
                                    <i class="fa icon-rounded icon-primary fa-number">5</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Contract Complete</h1>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <!-- Buyer Confirmation -->
                            <!-- buyer-approved.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-show="isBuyerApproved()">
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Goods Delivered</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">2</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Buyer Confirmation</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="success"><i class="fa fa-check icon-rounded icon-primary"></i> Success</h1>
                                    <p>Your Transaction is published on Blockchain</p>
                                    <p>31 Dec 2018, 16:30</p>
                                </div>
                                <div class="opacity-5 line-before">
                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">3</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Factoring Request</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">4</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- buyer rejected -->
                            <!-- buyer-rejected.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-show="invoiceData.state == 'invoice_rejected'">
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Goods Delivered</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">2</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Buyer Confirmation</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="rejected"><i class="fa fa-check icon-rounded icon-primary"></i> Rejected</h1>
                                    <p>31 Dec 2018, 16:30</p>
                                </div>

                                <div class="opacity-5 line-before">
                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">3</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Factoring Request</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">4</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Submited For Factoring -->
                            <!-- buyer-pending-from-supplier-for-approval.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_proposed'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Buyer Confirmation</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">3</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title"><strong>Factoring Request</strong></h1>
                                        </div>
                                    </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Submited For Factoring</h1>
                                    <p>31 Dec 2018, 16:30</p>
                                </div>

                                <div class="opacity-5 line-before">
                                    
                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">4</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Smart Contract Created -->
                            <!-- buyer-smart-contract-created.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Buyer Confirmation</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">3</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Factoring Request</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="success"><i class="fa fa-check icon-rounded icon-primary"></i> Smart Contract Created</h1>
                                    <div class="transaction-details">
                                        <h5 class="text-dark">Eligible Amount <span class="text-dark">$ 80,000</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">XDC To USD <span class="text-dark">$ 1</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark f-w-6">Pending XDC <span class="text-dark">1,15,000</span></h5>
                                        <div>
                                        </div>

                                    </div>

                                </div>

                                <div class="opacity-5 line-before">

                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">4</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- before and after payment -->

                            <div class="content-body" ng-show="isBuyerPayable()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="header-blue">
                                            <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                            <div class="info-details">
                                                <h1 class="buyer-title">View Full History</h1>
                                            </div>
                                        </div>
                                        <div id="header-blue">
                                            <i class="fa fa-check icon-rounded icon-primary"></i>
                                            <div class="info-details">
                                                <h1 class="buyer-title">Factoring Request</h1>
                                            </div>
                                        </div>
                                        <div id="header-blue">
                                            <i class="fa icon-rounded icon-primary fa-number">4</i>
                                            <div class="info-details">
                                                <h1 class="buyer-title"><strong>Payment Disbursed</strong></h1>
                                            </div>
                                        </div>
                                        <div class="transaction-details p-l-8">
                                            <div class="clearfix"></div>
                                            <div class="transaction-details">
                                                <h5 class="text-dark">Total Amount <span class="text-dark">$ 1,00,000</span></h5>
                                                <div class="clearfix"></div>
                                                <h5 class="text-dark">XDC To USD <span class="text-dark">$ 1</span></h5>
                                                <div class="clearfix"></div>
                                                <h5 class="text-dark">Payable XDC <span class="text-dark">1,50,000</span></h5>
                                                <div class="clearfix"></div>
                                                <h5 class="text-dark">Days to Payout <span class="text-dark">00</span></h5>
                                                <div>
                                                </div>
                                                
                                                <div ng-show="invoiceData.state != 'invoice_paid'" class="form-group m-t-10 no-bottom-marg">
                                                    <button ng-click="payInvoice()" class="btn btn-lg btn-primary btn-corner btn-block">Pay Now</button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="opacity-5 line-before">

                                            <div id="header-blue" class="no-after">
                                                <i class="fa icon-rounded icon-primary fa-number">5</i>
                                                <div class="info-details">
                                                    <h1 class="buyer-title">Contract Complete</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- End .row -->
                            </div>

                            <!-- Pending For Approval -->
                            <!-- buyer-pending-from-supplier.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_proposed'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Buyer Confirmation</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">3</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Factoring Request</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Pending For Approval</h1>
                                    <p>31 Dec 2018, 16:30</p>
                                </div>

                                <div class="opacity-5 line-before">

                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">4</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Submission pending -->
                            <!-- buyer-pending-from-financier.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Buyer Confirmation</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">3</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title"><strong>Factoring Request</strong></h1>
                                        </div>
                                    </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Submission pending</h1>
                                    <p>31 Dec 2018, 16:30</p>
                                </div>

                                <div class="opacity-5 line-before">
                                    
                                    <div id="header-blue">
                                        <i class="fa icon-rounded icon-primary fa-number">4</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Payment Disbursed -->
                            <!-- buyer-payout-days-left.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Factoring Request</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">4</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Payment Disbursed</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>
                                    <div class="transaction-details">
                                        <h5 class="text-dark">Total Amount <span class="text-dark">$ 1,00,000</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">XDC To USD <span class="text-dark">$ 1</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Payable XDC <span class="text-dark">1,50,000</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Days to Payout <span class="text-dark">50</span></h5>
                                        <div>
                                        </div>

                                    </div>

                                </div>

                                <div class="opacity-5 line-before">

                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- payment succesful -->
                            <!-- buyer-payment-successful.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Factoring Request</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">4</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Payment Disbursed</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="success"><i class="fa fa-check icon-rounded icon-primary"></i> Payment Successful</h1>
                                    <div class="transaction-details">
                                        <h5 class="text-dark">Total Amount <span class="text-dark">$ 1,00,000</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Date <span class="text-dark">31 Dec 2018, 16:30</span></h5>
                                        <div>
                                        </div>

                                    </div>

                                </div>

                                <div class="opacity-5 line-before">

                                    <div id="header-blue" class="no-after">
                                        <i class="fa icon-rounded icon-primary fa-number">5</i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- contract complete -->
                            <!-- buyer-contract-complete.html -->
                            <!-- no api -->
                            <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">View Full History</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa fa-check icon-rounded icon-primary"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title">Payment Disbursed</h1>
                                    </div>
                                </div>
                                <div id="header-blue">
                                    <i class="fa icon-rounded icon-primary fa-number">5</i>
                                    <div class="info-details">
                                        <h1 class="buyer-title"><strong>Contract Complete</strong></h1>
                                    </div>
                                </div>
                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <p class="m-t-5">31 Dec 2018, 16:30</p>

                                </div>
                            </div>

                        </div>
                        <!-- End .row -->
                    </div>
                </section>
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
