<style>
    .inv>tbody>tr>td
    {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        font-size: 13px;
    }
    .amount
    {
        text-align: right;
    }
    ::-webkit-input-placeholder {

        font-size: 13px;
    }
    </style>
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <!-- <div class="container wrapper main-wrapper row" style=''>
           <div>
            <div class="col-md-9 has-float-label">
                <select class="soflow form-control input-lg" ng-model="invoiceData.state" ng-options=" x for x in stateOptions">
                </select>
            </div>
        </div> -->
            <!-- div>
                <div class="col-md-9 has-float-label">
                    <select class="soflow form-control input-lg" ng-model="currentStage" ng-options=" x for x in stageOptions">
                    </select>
                </div>
            </div> -->
            <div class="container wrapper main-wrapper row" style=''>
            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title"><a href="/dashboard">Dashboard</a> <span class="request-details">Request Details #{{invoiceData.invoiceNo}}</span> <span class="date-details">{{invoiceData.created.invoice_created | date : "dd MMM y, hh:mm"}}</span></h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xs-12 col-md-9 col-lg-9">
                <section class="box">
                    <div class="content-body">
                        <header class="panel_header">
                            <h5 class="text-light pull-left text-uppercase">Buyer</h5>
                        </header>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="buyer-header">
                                    <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">

                                    <div class="info-details">
                                        <h1 class="buyer-title">{{invoiceData.companyName}}</h1>

                                        <ul class="list-unstyled list-inline no-bottom-marg">
                                            <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.contactName}}</li>
                                            <li class="text-muted"><i class="fa fa-phone"></i> {{invoiceData.companyPhone}}</li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i> {{invoiceData.companyEmail}}</a></li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="purchase-details">
                                    <h5 class="text-light text-uppercase">Purchase Details</h5>

                                    <h1>{{invoiceData.purchaseTitle}}</h1>
                                    <div class="price-badge">
                                        <div class="amount text-muted">Amount : <span class="bold"><i class="fa fa-inr" aria-hidden="true"></i> {{invoiceData.invoiceAmount}}</span></div>
                                        <div class="period text-muted">Days to Payout : <span class="bold">{{getDatesDiff(invoiceData.payableDate)}} Days</span></div>
                                    </div>
                                </div>

                            </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>PO Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.purchaseNo}}</li>
                                            <li>{{invoiceData.purchaseDate}}</li>
                                            <li><strong>${{invoiceData.purchaseAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Invoice Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.invoiceNo}}</li>
                                            <li>{{invoiceData.invoiceDate}}</li>
                                            <li><strong>${{invoiceData.invoiceAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Grn Details</h3>
                                        </div>

                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.grnNo}}</li>
                                            <li>{{invoiceData.grnDate}}</li>
                                            <li>{{invoiceData.grnAmount}}</li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                            <div class="clearfix"></div>

                        </div>
                        <!-- End .row -->
                    </div>
                </section>
                <section class="box" ng-repeat="tx in invoiceTxHistory">
                    <div class="content-body">
                        <div class="panel_header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="text-light pull-left text-uppercase buyer-top">{{tx.eventDName}}</div>
                                </div>
                                <!-- <div class="col-lg-6">
                                    <div class="buyer-published">Published on Blockchain</div>
                                </div> -->
                                <div class="col-lg-6">
                                    <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">{{tx.status}}</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="buyer-header">
                                    <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">
                
                                    <div class="info-details">
                                        <div class="buyer-title-set">#{{tx.transactionHash}}</div>
                                        <div class="buyer-dated"><i class="fa fa-calendar"></i> {{tx.args.created | date : "dd MMM y, hh:mm"}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padd_top_15">
                                <div class="blockchain-titles">Address</div>
                                <div class="blockchain-content">{{tx.address}}</div>
                            </div>
                            <div class="col-md-12 padd_15">
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Block Number</div>
                                    <div class="blockchain-content">{{tx.blockNumber}}</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">_id</div>
                                    <div class="blockchain-content">{{tx.args.invoiceId}}</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Time Stamp</div>
                                    <div class="blockchain-content">{{tx.args.created}}</div>
                                </div>
                            </div>
                            <div class="col-md-12 padd_bottom_15">
                                <div class="blockchain-titles">Remark</div>
                                <div class="blockchain-content">{{tx.args.state}}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="box" >
                        <div class="content-body">
                            <div class="panel_header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="text-light pull-left text-uppercase buyer-top">Verificaton Details</div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <div class="buyer-published">Published on Blockchain</div>
                                    </div> -->
                                    <div class="col-lg-6">
                                        <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">Published on Blockchain</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="buyer-header">
                                        <img src="assets/images/VerificationDetails_icon.svg" alt="" class="img-circle circle-border">
                    
                                        <div class="info-details">
                                            <div class="buyer-title-set">#123sdfsdfaf16682</div>
                                            <div class="buyer-dated"><i class="fa fa-calendar"></i> 20 Apr 2019, 18:44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 padd_top_15">
                                    <div class="blockchain-titles">Address</div>
                                    <div class="blockchain-content">0clksfgasf6464331asdfas</div>
                                </div>
                                <div class="col-md-12 padd_15">
                                    <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Block Number</div>
                                        <div class="blockchain-content">12</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                        <div class="blockchain-titles">_id</div>
                                        <div class="blockchain-content">adfs3213454</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Time Stamp</div>
                                        <div class="blockchain-content">13245654</div>
                                    </div>
                                </div>
                                <div class="col-md-12 padd_bottom_15">
                                    <div class="blockchain-titles">Remark</div>
                                    <div class="blockchain-content">Lorem epsum test</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="box" >
                        <div class="content-body">
                            <div class="panel_header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="text-light pull-left text-uppercase buyer-top">Factoring Request Details</div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <div class="buyer-published">Published on Blockchain</div>
                                    </div> -->
                                    <div class="col-lg-6">
                                        <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">Approved</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-12 padd_15">
                                    <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Amount</div>
                                        <div class="blockchain-content"><strong>12</strong></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Request Date</div>
                                        <div class="blockchain-content"><strong>20 Apr 2019, 18:44</strong></div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-12 padd_bottom_15">
                                    <div class="blockchain-titles">Description</div>
                                    <div class="blockchain-content">Lorem epsum test</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="box" >
                        <div class="content-body">
                            <div class="panel_header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="text-light pull-left text-uppercase buyer-top">Factoring Terms</div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <div class="buyer-published">Published on Blockchain</div>
                                    </div> -->
                                    <div class="col-lg-6">
                                        <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">Approved</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-12 padd_top_15">
                                    <div class="col-lg-3 col-md-3 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Mode</div>
                                        <div class="blockchain-content">Factor</div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Eligible Amount</div>
                                        <div class="blockchain-content">80% (<span>&#36;</span>80,000)</div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Approval Date</div>
                                        <div class="blockchain-content">20 Apr 2019, 18:44</div>
                                    </div>
                                </div>
                                 <div class="col-md-12 padd_15">
                                     <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Charges/Month</div>
                                        <div class="blockchain-content"><strong>10% (<span>&#36;</span>3000)</strong></div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 padd_max" align="center">
                                        <strong>=</strong>                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Platform Charge</div>
                                        <div class="blockchain-content"><strong>5% (<span>&#36;</span>1500)</strong></div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 padd_max" align="center">
                                        <strong>+</strong>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Processing Charges</div>
                                        <div class="blockchain-content"><strong>3% (<span>&#36;</span>1000)</strong></div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 padd_max" align="center">
                                        <strong>+</strong>                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                        <div class="blockchain-titles">Interest Charges</div>
                                        <div class="blockchain-content"><strong>2% (<span>&#36;</span>500)</strong></div>
                                    </div>
                                </div>
                                <div class="col-md-12 padd_bottom_15">
                                    <div class="blockchain-titles">Terms & Conditions</div>
                                    <div class="blockchain-content">Lorem epsum test</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="box" >
                        <div class="content-body">
                            <div class="panel_header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="text-light pull-left text-uppercase buyer-top">Payment Details</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-12 padd_top_15">
                                    <table class="table inv">
                                        <thead>
                                          <tr>
                                            <th>Transaction Info</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Conversion</th>
                                            <th class="amount">XDC</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>First Payment Financier to Supplier</td>
                                            <td>31 Dec 2016, 16:30</td>
                                            <td class="amount"><span>&#36;</span>80,000</td>
                                            <td><span>&#36;</span>1 = XDC10</td>
                                            <td class="amount"><span>&#36;</span>XDC 1,50,000</td>
                                          </tr>
                                          <tr>
                                            <td>Final Payment Financier to Supplier</td>
                                            <td>31 Dec 2016, 16:30</td>
                                            <td class="amount"><span>&#36;</span>17,000</td>
                                            <td><span>&#36;</span>1 = XDC10</td>
                                            <td class="amount"><span>&#36;</span>XDC 50,000</td>
                                          </tr>
                                          <tr>
                                            <td>Charges to Supplier</td>
                                            <td>31 Dec 2016, 16:30</td>
                                            <td class="amount"><span>&#36;</span>3,000</td>
                                            <td><span>&#36;</span>1 = XDC10</td>
                                            <td class="amount"><span>&#36;</span>XDC 20,000</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>

            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">

                    <div class="content-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div id="header-blue" ng-show="isStageEnabled('goods_delivered')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('goods_delivered')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('goods_delivered') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('goods_delivered')">1</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Goods Delivered</h1>
                                        </div>
                                    </div>
                                </div>
                                <div id="header-blue" ng-show="isHistoryBarEnabled('goods_delivered')">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title" ng-click="showHistory()">View Full History</h1>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('goods_delivered')"></div>
                                <div id="header-blue" ng-show="isStageEnabled('buyer_confirmation')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('buyer_confirmation')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('buyer_confirmation') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('buyer_confirmation')">2</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('buyer_confirmation')}">Buyer Confirmation</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="transaction-details" ng-show="invoiceData.state == 'invoice_created'">
                                    <div class="clearfix"></div>
                                    <h1 class="f-w-4">Respond Now</h1>
                                    <div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea rows="6" class="form-control input-lg" id="description" ng-model="invoiceActionForm.remark" placeholder="Description*"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-primary btn-corner btn-block" ng-click="approveInvoice()">Approve</button>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-border btn-primary btn-corner btn-block" ng-click="rejectInvoice()">Reject</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'invoice_accepted'">
                                    <div class="clearfix"></div>

                                    <h1 class="success"><i class="fa fa-check icon-rounded icon-primary"></i> Success</h1>
                                    <p>Your Transaction is published on Blockchain</p>
                                    <p>{{ invoiceData.created.invoice_accepted | date : "dd MMM y hh:mm"}}</p>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'invoice_rejected'">
                                    <div class="clearfix"></div>

                                    <h1 class="rejected"><i class="fa fa-check icon-rounded icon-primary"></i> Rejected</h1>
                                    <p>{{ invoiceData.created.invoice_rejected | date : "dd MMM y hh:mm"}}</p>
                                </div>


                                <div id="header-blue" ng-show="isHistoryBarEnabled('buyer_confirmation')">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title" ng-click="showHistory()">View Full History</h1>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('buyer_confirmation')"></div>
                                <div id="header-blue" ng-show="isStageEnabled('factoring_request')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('factoring_request')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('factoring_request') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('factoring_request')">3</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('factoring_request')}">Factoring Request</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'ifactor_request'">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Submited For Factoring</h1>
                                    <p>{{ invoiceData.created.ifactor_request | date : "dd MMM y hh:mm"}}</p>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'ifactor_rejected'">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Rejected By Financer</h1>
                                    <p>{{ invoiceData.created.ifactor_rejected | date : "dd MMM y hh:mm"}}</p>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'ifactor_proposed'">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Proposal submitted by financer</h1>
                                    <p>{{ invoiceData.created.ifactor_proposed | date : "dd MMM y hh:mm"}}</p>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'ifactor_proposal_rejected'">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Proposal rejected By Supplier</h1>
                                    <p>{{ invoiceData.created.ifactor_proposal_rejected | date : "dd MMM y hh:mm"}}</p>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'ifactor_proposal_accepted'">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Smart contract created</h1>
                                    <p>{{ invoiceData.created.ifactor_proposal_accepted | date : "dd MMM y hh:mm"}}</p>
                                </div>

                               <div id="header-blue" ng-show="isHistoryBarEnabled('factoring_request')">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title" ng-click="showHistory()">View Full History</h1>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('factoring_request')"></div>
                                <div id="header-blue" ng-show="isStageEnabled('payment_disbursed')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('payment_disbursed')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('payment_disbursed') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('payment_disbursed')">4</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('payment_disbursed')}">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'ifactor_prepaid'">
                                    <div class="clearfix"></div>
                                    <div class="transaction-details">
                                        <h5 class="text-dark">Total Amount <span class="text-dark">$ {{invoiceData.invoiceAmount}}</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">XDC To USD <span class="text-dark">$ 1</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Payable XDC <span class="text-dark">{{invoiceData.invoiceAmount}}</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Days to Payout <span class="text-dark">{{getDatesDiff(invoiceData.payableDate)}}</span></h5>
                                        <div>
                                        </div>
                                        
                                        <div class="form-group m-t-10 no-bottom-marg">
                                            <button ng-click="payInvoice()" class="btn btn-lg btn-primary btn-corner btn-block">Pay Now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="opacity-5 line-before" ng-show="isCurrentStage('payment_disbursed')"></div>
                                <div id="header-blue" class="no-after" ng-show="isStageEnabled('contract_complete')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('contract_complete')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('contract_complete') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('contract_complete')">5</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('contract_complete')}">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'invoice_paid'">
                                    <div class="clearfix"></div>
                                    <div class="transaction-details">
                                        <h5 class="text-dark">Total Amount <span class="text-dark">${{invoiceData.invoiceAmount}}</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">XDC To USD <span class="text-dark">$ 1</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Payable XDC <span class="text-dark">{{invoiceData.invoiceAmount}}</span></h5>
                                        <div class="clearfix"></div>
                                        <div>
                                        </div>
                                    </div>
                                </div>

                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'completed'">
                                    <div class="clearfix"></div>

                                    <h1 class="pending"><i class="fa fa-exclamation icon-rounded icon-primary"></i> Contract Completed</h1>
                                    <p>{{ invoiceData.created.completed | date : "dd MMM y hh:mm"}}</p>
                                </div>

                            </div>
                        </div>
                        <!-- End .row -->
                    </div>
                </section>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">
                    <div class="content-body">
                        <div class="row">

                            <div class="col-md-12">
                                 <div class="col-lg-12">
                                        <div class="text-light buyer-top" style="border-left: none;">Rating</div>
                                    </div>
                                    <div class="col-md-12">
                                        <jk-rating-stars max-rating="5" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" >
                                        </jk-rating-stars>
                                    </div>      
                            </div>
                        </div>
                    </div>        
                </section>
            <!-- MAIN CONTENT AREA ENDS -->
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">
                    <div class="content-body">
                        <div class="row">

                            <div class="col-md-12">
                                 <div class="col-lg-12">
                                        <div class="text-light buyer-top" style="border-left: none;">Give a quick rating to Buyer</div>
                                    </div>
                                    <div class="col-md-12">
                                        <jk-rating-stars max-rating="5" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" >
                                        </jk-rating-stars>
                                    </div>  

                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea ng-model="acceptFactoringForm.remark" style="height:150px !important" class="form-control input-lg" id="description" placeholder="Write Terms & Condition"></textarea>
                                        </div>
                                    </div>   

                                    <div class="form-group">
                                        <button ng-click="factoringProposal()" class="btn btn-lg btn-primary btn-corner btn-block">Submit</button>
                                    </div> 
                            </div>

                        </div>
                    </div>        
                </section>
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
