   <!-- START TOPBAR -->
    <div class="page-topbar">
        <div class="container">
            <div class="logo-area">

            </div>
            <div class="quick-area">

                <div class='pull-right'>
                    <ul class="info-menu right-links list-inline list-unstyled">
                        <li class="notify-toggle-wrapper">
                            <a href="#" data-toggle="dropdown" class="toggle">
                                <i class="fa fa-bell"></i>
                                <span>Notification</span>
                            </a>

                            <ul class="dropdown-menu notifications animated fadeIn">
                                <li class="total">
                                    <span class="small">You have 3 new notifications.</span>
                                </li>
                                <li class="list">

                                    <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                        <li class="unread available">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Server needs to reboot</strong>
                                                        <span class="time small">15 mins ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="unread away">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>45 new messages</strong>
                                                        <span class="time small">45 mins ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" busy">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Server IP Blocked</strong>
                                                        <span class="time small">1 hour ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" offline">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>10 Orders Shipped</strong>
                                                        <span class="time small">5 hours ago</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" offline">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>New Comment on blog</strong>
                                                        <span class="time small">Yesterday</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" available">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Great Speed Notify</strong>
                                                        <span class="time small">14th Mar</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class=" busy">
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Team Meeting at 6PM</strong>
                                                        <span class="time small">16th Mar</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li class="external">
                                    <a href="javascript:;">
                                        <span>Read All Notifications</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="profile">
                            <a href="#" data-toggle="dropdown" class="toggle">
                                <img src="assets/images/profile/profile.jpg" alt="user-image" class="img-circle img-inline">
                                <span>Sagar Sawant <i class="fa fa-angle-down"></i></span>
                            </a>
                            <ul class="dropdown-menu profile animated fadeIn">
                                <li>
                                    <a href="#settings">
                                        <i class="fa fa-wrench"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="#profile">
                                        <i class="fa fa-user"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#help">
                                        <i class="fa fa-info"></i> Help
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="ui-login.html">
                                        <i class="fa fa-lock"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- END TOPBAR -->

    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title"><a href="/dashboard">Dashboard</a> <span class="request-details">Request Details #R125638</span> <span class="date-details">21 Dec 2018, 16:14</span></h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 col-md-9 col-lg-9">
                    <section class="box">

                        <div class="content-body">
                            <header class="panel_header">
                                <h5 class="text-light pull-left text-uppercase">Buyer</h5>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="buyer-header">
                                        <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">

                                        <div class="info-details">
                                            <h1 class="buyer-title">{{invoiceData.companyName}}</h1>

                                            <ul class="list-unstyled list-inline no-bottom-marg">
                                                <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.contactName}}</li>
                                                <li class="text-muted"><i class="fa fa-phone"></i> {{invoiceData.companyPhone}}</li>
                                                <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i> {{invoiceData.companyEmail}}</a></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="purchase-details">
                                        <h5 class="text-light text-uppercase">Purchase Details</h5>

                                        <h1>{{invoiceData.purchaseTitle}}</h1>
                                        <div class="price-badge">
                                            <div class="amount text-muted">Amount : <span class="bold"><i class="fa fa-inr" aria-hidden="true"></i> {{invoiceData.purchaseAmount}}</span></div>
                                            <div class="period text-muted">Days to Payout : <span class="bold">{{getDatesDiff(invoiceData.payableDate)}} Days</span></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>PO Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.purchaseNo}}</li>
                                            <li>{{invoiceData.purchaseDate}}</li>
                                            <li><strong>${{invoiceData.purchaseAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Invoice Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.invoiceNo}}</li>
                                            <li>{{invoiceData.invoiceDate}}</li>
                                            <li><strong>${{invoiceData.invoiceAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Grn Details</h3>
                                        </div>

                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.grnNo}}</li>
                                            <li>{{invoiceData.grnDate}}</li>
                                            <li>{{invoiceData.grnAmount}}</li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                            </div>
                            <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-3 col-lg-3">
                    <section class="box">

                        <div class="content-body">
                            <div class="row">

                                <!-- Approved By Buyer -->
                                <!-- supplier-approved.html -->
                                <!-- need api..used requestFactoring -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'invoice_accpted'">
                                    <div id="buyer-header-approved">
                                        <i class="fa fa-check icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase">Approved By Buyer</h1>

                                        </div>
                                    </div>
                                    <div class="transaction-details">
                                        <h5 class="text-light text-uppercase">Buyer Transaction <span><a href="#">view more</a></span></h5>
                                        <div class="clearfix"></div>

                                        <h1>#88888888888888888</h1>
                                        <div>

                                            <div class="form-group">
                                                <div class="input-group">

                                                    <div class="input-group-btn">
                                                        <select class="form-control input-lg" style="font-family:'FontAwesome';">
                                                            <option>&#xf155;</option>
                                                            <option>&#xf156;</option>
                                                            <option>&#xf153;</option>
                                                            <option>&#xf157;</option>
                                                        </select>
                                                    </div>
                                                    <input class="form-control input-lg" id="amount" type="text" placeholder="Amount*" />

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea rows="6" class="form-control input-lg" id="description" placeholder="Description*"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" ng-click="requestFactoring()" class="btn btn-lg btn-primary btn-corner btn-block">Factor Now</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Rejected By Financier -->
                                <!-- supplier-rejected.html -->
                                <!-- no api -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                    <div id="buyer-header-rejected">
                                        <i class="fa fa-close icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase no-top-marg">Rejected By Financier</h1>

                                        </div>
                                    </div>

                                    <div class="transaction-details">
                                        <h5 class="text-light text-uppercase">Date</h5>
                                        <div class="clearfix"></div>

                                        <h1 class="no-bottom-padd">21st Dec 2018, 16:30</h1>

                                    </div>
                                </div>

                                <!-- Sent For Factoring -->
                                <!-- supplier-pending.html -->
                                <!-- no api -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_proposed'">
                                    <div id="buyer-header-sent">
                                        <i class="fa"><img src="assets/images/dollar-briefcase.png"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase">Sent For Factoring</h1>

                                        </div>
                                    </div>

                                    <div class="transaction-details no-bottom-padd">
                                        <h5 class="text-light text-uppercase">Of Amount</h5>
                                        <div class="clearfix"></div>

                                        <h1>$ 1,00,000</h1>
                                        <h5 class="text-light text-uppercase p-t-20">Description</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>


                            </div>
                            <!-- End .row -->
                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->