

    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section>
            <div class="container wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title"><a ng-click="getDashboardDetails()">Dashboard</a> <span class="request-details">Request Details #R125638</span> <span class="date-details">21 Dec 2018, 16:14</span></h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 col-md-9 col-lg-9">
                    <section class="box">

                        <div class="content-body">
                            <header class="panel_header">
                                <h5 class="text-light pull-left text-uppercase">Buyer</h5>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="buyer-header">
                                        <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">

                                        <div class="info-details">
                                            <h1 class="buyer-title">{{invoiceData.companyName}}</h1>

                                            <ul class="list-unstyled list-inline no-bottom-marg">
                                                <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.contactName}}</li>
                                                <li class="text-muted"><i class="fa fa-phone"></i> {{invoiceData.companyPhone}}</li>
                                                <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i> {{invoiceData.companyEmail}}</a></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="purchase-details">
                                        <h5 class="text-light text-uppercase">Purchase Details</h5>

                                        <h1>{{invoiceData.purchaseTitle}}</h1>
                                        <div class="price-badge">
                                            <div class="amount text-muted">Amount : <span class="bold"><i class="fa fa-inr" aria-hidden="true"></i> {{invoiceData.purchaseAmount}}</span></div>
                                            <div class="period text-muted">Days to Payout : <span class="bold">{{getDatesDiff(invoiceData.payableDate)}} Days</span></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>PO Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.purchaseNo}}</li>
                                            <li>{{invoiceData.purchaseDate}}</li>
                                            <li><strong>${{invoiceData.purchaseAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Invoice Details</h3>
                                        </div>
                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.invoiceNo}}</li>
                                            <li>{{invoiceData.invoiceDate}}</li>
                                            <li><strong>${{invoiceData.invoiceAmount}}</strong></li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                    <div class="price-pack">
                                        <div class="head no-bottom-padd">
                                            <h3>Grn Details</h3>
                                        </div>

                                        <ul class="item-list list-unstyled">
                                            <li>#{{invoiceData.grnNo}}</li>
                                            <li>{{invoiceData.grnDate}}</li>
                                            <li>{{invoiceData.grnAmount}}</li>

                                        </ul>

                                        <button type="button" class="btn btn-lg btn-icon btn-default btn-block">10delinvoice.pdf <i class="fa fa-download"></i></button>

                                    </div>
                                </div>

                            </div>
                            <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-3 col-lg-3">
                    <section class="box">

                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12" ng-show="invoiceData.state == 'invoice_created'">
                                    <div id="buyer-header-approved">
                                        <i class="fa fa-check icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase">Approval Awaited</h1>
                                        </div>
                                    </div>
                                </div>
                                <!-- Approved By Buyer -->
                                <!-- supplier-approved.html -->
                                <!-- need api..used requestFactoring -->
                                <div class="col-md-12" ng-show="invoiceData.state == 'invoice_accepted'">
                                    <div id="buyer-header-approved">
                                        <i class="fa fa-check icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase">Approved By Buyer</h1>
                                        </div>
                                    </div>
                                    <div class="transaction-details">
                                        <h5 class="text-light text-uppercase">Buyer Transaction <span><a href="#">view more</a></span></h5>
                                        <div class="clearfix"></div>

                                        <h1>#88888888888888888</h1>
                                        <div>

                                            <div class="form-group">
                                                <div class="input-group">

                                                    <div class="input-group-btn">
                                                        <select class="form-control input-lg" style="font-family:'FontAwesome';">
                                                            <option>&#xf155;</option>
                                                            <option>&#xf156;</option>
                                                            <option>&#xf153;</option>
                                                            <option>&#xf157;</option>
                                                        </select>
                                                    </div>
                                                    <input class="form-control input-lg" id="amount" type="text" placeholder="Amount*" />

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea rows="6" class="form-control input-lg" id="description" placeholder="Description*"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" ng-click="requestFactoring()" class="btn btn-lg btn-primary btn-corner btn-block">Factor Now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" ng-show="invoiceData.state == 'ifactor_request'">
                                    <div id="buyer-header-approved">
                                        <i class="fa fa-check icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase">Sent For Factoring</h1>
                                        </div>
                                    </div>
                                </div>

                                <!-- Proposal rejected -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_proposal_rejected'">
                                    <div id="buyer-header-rejected">
                                        <i class="fa fa-close icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase no-top-marg">Rejected By Financier</h1>

                                        </div>
                                    </div>

                                    <div class="transaction-details">
                                        <h5 class="text-light text-uppercase">Date</h5>
                                        <div class="clearfix"></div>

                                        <h1 class="no-bottom-padd">21st Dec 2018, 16:30</h1>

                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea ng-model="proposalActionForm.remark" rows="3" class="form-control input-lg" id="description" ng-init={{invoiceData.rejectFactoringRemark}} readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Proposal accepted -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_proposal_accepted'">
                                    <div id="buyer-header-rejected">
                                        <i class="fa fa-close icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase no-top-marg">Proposal Accepted</h1>

                                        </div>
                                    </div>

                                    <div class="transaction-details">
                                        <h5 class="text-light text-uppercase">Date</h5>
                                        <div class="clearfix"></div>

                                        <h1 class="no-bottom-padd">21st Dec 2018, 16:30</h1>
                                        <h3 class="f-w-6">Smart Contract Created</h3>
                                    </div>
                                </div>

                                <!-- Rejected By Financier -->
                                <!-- supplier-rejected.html -->
                                <!-- no api -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_rejected'">
                                    <div id="buyer-header-rejected">
                                        <i class="fa fa-close icon-rounded icon-primary inviewport"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase no-top-marg">Rejected By Financier</h1>

                                        </div>
                                    </div>

                                    <div class="transaction-details">
                                        <h5 class="text-light text-uppercase">Date</h5>
                                        <div class="clearfix"></div>

                                        <h1 class="no-bottom-padd">21st Dec 2018, 16:30</h1>

                                    </div>
                                </div>

                                <!-- Sent For Factoring -->
                                <!-- supplier-pending.html -->
                                <!-- no api -->
                                <div class="col-md-12" ng-if="invoiceData.state == 'ifactor_proposed'">
                                    <div id="buyer-header-sent">
                                        <i class="fa"><img src="assets/images/dollar-briefcase.png"></i>

                                        <div class="info-details">
                                            <h1 class="buyer-title text-uppercase">Proposal Received</h1>
                                        </div>
                                    </div>
                                <div class="col-md-12">
                                    <h3 class="f-w-6">Response Now</h3>
                                    <p class="f-w-6">Mode</p>
                                    <p class="f-w-6">Factor</p>

                                    <!-- Tab panes -->
                                    <!-- 
                                        acceptFactoringForm.platformCharges : 0,
                                        acceptFactoringForm.saftyPercentage : 0,
                                        acceptFactoringForm.acceptFactoringRemark : ''
                                     -->                                
                                    <p class="f-w-6">Factoring Charges(%)</p>
                                    <p class="f-w-6">{{invoiceData.platformCharges}}</p>                                
                                    <!-- <div class="form-group">
                                        <div class="input-group">
                                            <input type="number" name="charges" ng-model="acceptFactoringForm.platformCharges" class="form-control input-lg"/>
                                        </div>
                                    </div> -->

                                    <p class="f-w-6"> Eligible Amount(%)</p>
                                    <p class="f-w-6">{{invoiceData.saftyPercentage}}</p>
                                    <div class="transaction-details no-bottom-padd">
                                        <div class="form-group">
                                            <div class="input-group">
                                            {{invoiceData.acceptFactoringRemark}}
                                            </div>
                                        </div>

                                        <div class="m-b-20">
                                            <p class="text-muted">Attachment</p>
                                            <div class="form-group">

                                                <button type="button" class="btn btn-default btn-icon btn-round">
                                                    <i class="fa fa-cloud-upload"></i> &nbsp; <span>Browse File</span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea ng-model="proposalActionForm.remark" rows="3" class="form-control input-lg" id="description" placeholder="remark*"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="transaction-details">
                                                <div class="clearfix"></div>
                                                <div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-lg btn-primary btn-corner btn-block" ng-click="acceptFactoringProposal()">Accept</button>
                                                    </div>
                                                    <div class="form-group no-bottom-marg">
                                                        <button type="submit" class="btn btn-lg btn-border btn-primary btn-corner btn-block" ng-click="rejectFactoringProposal()">Reject</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- <div class="transaction-details no-bottom-padd">
                                        <h5 class="text-light text-uppercase">Of Amount</h5>
                                        <div class="clearfix"></div>

                                        <h1>$ 1,00,000</h1>
                                        <h5 class="text-light text-uppercase p-t-20">Description</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div> -->
                                </div>
                            </div>
                            <!-- End .row -->
                        </div>
                    </section>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->