<!-- START TOPBAR -->

<div class="page-topbar">
        <div class="container">
            <a href="/dashboard">
                <div class="logo-area"></div>
            </a>
            <div class="quick-area" ng-show="isLoggedIn">
                <div class='pull-right'>
                    <ul class="info-menu right-links list-inline list-unstyled">
                        
                        <li class="balaceTop">Balance : {{balance}} XDC</li>
                        <li class="profile">
                            <a href="#" class="toggle" id="dropdownToggle" ng-click="toggleDropdown()">
                                <span>{{name}}
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu profile animated fadeIn" role="menu" id="dropdownMenu" ng-style="dropdownMenuStyle">
                                <li>
                                    <a href="/profile">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="" ng-click="logOut()">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- END TOPBAR -->


<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>

        <!-- <div>
            <div class="col-md-9 has-float-label">
                <select class="soflow form-control input-lg" ng-model="invoiceData.state" ng-options=" x for x in stateOptions">
                </select>
            </div>
        </div> -->  
        <div class="container wrapper main-wrapper row" style=''>

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">Financer Dashboard</h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>

                    <!-- <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-corner" ng-click="urlMap('createInvoice')">Create Request</button>
                    </div> -->

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="col-xs-12">
                <section class="box">
                    <div class="content-body no-top-padd">
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive" data-pattern="priority-columns">
                                <table id="example-1" class="table table-striped dt-responsive display">
                                    <thead>
                                        <tr>
                                            <th class="rqno">Request No</th>
                                            <th class="buyname">Buyer Name</th>
                                            <th class="poti">PO Title</th>
                                            <th class="amt text-right">Amount</th>
                                            <th class="dtp text-right">Days to Payout</th>
                                            <th class="stus text-right">Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in dashboardData track by $index" ng-click="getInvoicesDetails(item, $index)"  class="cursor-pointer">
                                            <td ng-if="item.invoiceNo">{{item.invoiceNo}}</td>
                                            <td ng-if="!item.invoiceNo">-</td>

                                            <td ng-if="item.companyName">
                                                <div id="buyer-logo">
                                                    <i><img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border"></i>
                                                    <span>{{item.companyName}}</span>
                                                </div>
                                            </td>
                                            <td ng-if="!item.companyName">
                                                <div id="buyer-logo">
                                                    <span>-</span>
                                                </div>
                                            </td>

                                            <td ng-if="item.purchaseTitle">{{item.purchaseTitle}}</td>
                                            <td ng-if="!item.purchaseTitle">-</td>

                                            <td ng-if="item.purchaseAmount" class="text-right">$ {{invoiceData.invoiceAmount}}{{item.invoiceAmount}}</td>
                                            <td ng-if="!item.purchaseAmount" class="text-right">-</td>

                                            <td ng-if="item.payableDate" class="text-right">{{getDatesDiff(item.payableDate)}}</td>
                                            <td ng-if="!item.payableDate" class="text-right">-</td>

                                            <td ng-if="item.state" class="text-right"><a href=""><span class="label" ng-class="item.stateClass">{{item.status}}</span></a></td>
                                            <td ng-if="!item.state" class="text-right"><a href="">-</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->