<style>
    .inv>tbody>tr>td
    {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        font-size: 13px;
    }
    .amount
    {
        text-align: right;
    }
    ::-webkit-input-placeholder {

        font-size: 13px;
    }
    </style>
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- START CONTENT -->
    <section>
        <div>
            <div class="col-md-9 has-float-label">
                <select class="soflow form-control input-lg" ng-model="invoiceData.state" ng-options=" x for x in stateOptions">
                </select>
            </div>
        </div>
        <div class="container wrapper main-wrapper row" style=''>

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title"><a ng-href="/dashboard">Dashboard</a><span class="request-details">Request Details #{{invoiceData.invoiceNo}}</span> <span class="date-details">{{invoiceData.created.invoice_created | date : "dd MMM y, hh:mm"}}</span></h1>
                        <!-- PAGE HEADING TAG - END -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xs-12 col-md-9 col-lg-9">
                <section class="box">

                    <div class="content-body">
                        <header class="panel_header">
                            <h5 class="text-light pull-left text-uppercase buyer-top">Supplier</h5>
                        </header>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="buyer-header">
                                    <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">

                                    <div class="info-details label-header">
                                        <h1 class="buyer-title label-header-title">{{invoiceData.supplierName}}</h1>

                                        <ul class="list-unstyled list-inline no-bottom-marg">
                                            <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.supplierName}}</li>
                                            <li class="text-muted"><i class="fa fa-phone"></i> +91 9665664587</li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i>{{invoiceData.supplierEmail}}</a></li>
                                        </ul>

                                    </div>
                                </div>

                                <header class="panel_header">
                                    <h5 class="text-light pull-left text-uppercase buyer-top">Buyer</h5>
                                </header>

                                    <div id="buyer-header">
                                        <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">

                                        <div class="info-details label-header">
                                            <h1 class="buyer-title label-header-title">{{invoiceData.companyName}}</h1>

                                            <ul class="list-unstyled list-inline no-bottom-marg">
                                                <li class="text-muted"><i class="fa fa-user"></i> {{invoiceData.contactName}}</li>
                                                <li class="text-muted"><i class="fa fa-phone"></i> {{invoiceData.companyPhone}}</li>
                                                <li><a href="#" class="text-muted"><i class="fa fa-envelope"></i> {{invoiceData.companyEmail}}</a></li>
                                            </ul>
                                        </div>
                                    </div>

                            </div>

                            <div class="panel_header">
                                <div class="col-lg-6">
                                    <div class="text-light text-uppercase buyer-top">Purchase Details</div>
                                    <div class="blockchain-content">{{invoiceData.purchaseTitle}}</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="buyer-published">
                                        <button class="btn btn-sm btn-primary btn-blockchain">Approved</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padd_10">
                                <div class="col-lg-6">
                                    <div class="blockchain-titles">Amount</div>
                                    <div class="blockchain-content"><i class="fa fa-inr" aria-hidden="true"></i> {{invoiceData.invoiceAmount}}</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blockchain-titles">Days to Payout</div>
                                    <div class="blockchain-content">{{getDatesDiff(invoiceData.payableDate)}} Days</div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="price-pack">
                                    <div class="head no-bottom-padd">
                                        <div class="blockchain-titles blockchain-box">PO Details</div>
                                    </div>
                                    <ul class="item-list list-unstyled">
                                        <li class="blockchain-content">#{{invoiceData.purchaseNo}}</li>
                                        <li class="blockchain-content">{{invoiceData.purchaseDate}}</li>
                                        <li class="blockchain-content"><strong>${{invoiceData.purchaseAmount}}</strong></li>

                                    </ul>

                                    <button type="button" ng-click="downloadDocs('poDocs')" class="btn btn-lg btn-icon btn-default btn-block">PO Documents <i class="fa fa-download"></i></button>

                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="price-pack">
                                    <div class="head no-bottom-padd">
                                    <div class="blockchain-titles blockchain-box">Invoice Details</div>
                                    </div>
                                    <ul class="item-list list-unstyled">
                                        <li class="blockchain-content">#{{invoiceData.invoiceNo}}</li>
                                        <li class="blockchain-content">{{invoiceData.invoiceDate}}</li>
                                        <li class="blockchain-content"><strong>${{invoiceData.invoiceAmount}}</strong></li>

                                    </ul>

                                    <button type="button" ng-click="downloadDocs('invoiceDocs')" class="btn btn-lg btn-icon btn-default btn-block">Invoice Documents <i class="fa fa-download"></i></button>

                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="price-pack">
                                    <div class="head no-bottom-padd">
                                        <div class="blockchain-titles blockchain-box">Grn Details</div>
                                    </div>

                                    <ul class="item-list list-unstyled">
                                        <li class="blockchain-content">#{{invoiceData.grnNo}}</li>
                                        <li class="blockchain-content">{{invoiceData.grnDate}}</li>
                                        <li class="blockchain-content">${{invoiceData.grnAmount}}</li>

                                    </ul>

                                    <button type="button" ng-click="downloadDocs('grnDocs')" class="btn btn-lg btn-icon btn-default btn-block">GRN Docs <i class="fa fa-download"></i></button>

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <!-- <div class="col-md-12">

                                <div class="verification-details">
                                    <h5 class="text-uppercase">Verification Details</h5>
                                    <div class="price-badge">
                                        <div class="amount text-muted">Approved Transaction no : <span class="bold">#1234567898765432145, 21 Dec 2018, 16:30</span></div>
                                    </div>
                                    <div class="verification-details box">
                                        <h1>A36ABGHYTWSDOP3DFRTQAZXCDCE3012A292BC1KLMNBPOTCVFS2C5F163BKLMNPH</h1></div>
                                </div>

                                <div class="verification-details">
                                    <h5 class="text-uppercase">Factoring Details</h5>
                                    <div class="price-badge">
                                        <div class="amount text-muted">Amount : <span class="bold"><i class="fa fa-inr" aria-hidden="true"></i> 1,00,000</span></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                </div>

                            </div> -->

                        </div>
                        <!-- End .row -->
                    </div>
                </section>
                <section class="box" ng-repeat="tx in allEvents">
                    <div class="content-body" ng-if="tx.event=='invoiceHistory'">
                        <div class="panel_header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="text-light pull-left text-uppercase buyer-top">{{tx.eventDName}}</div>
                                </div>
                                <!-- <div class="col-lg-6">
                                    <div class="buyer-published">Published on Blockchain</div>
                                </div> -->
                                <div class="col-lg-6">
                                    <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">{{getInvoiceStatus(tx.args.state)}}</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="buyer-header">
                                    <img src="assets/images/logos/buyer/crossref.jpg" alt="" class="img-circle circle-border">
                
                                    <div class="info-details">
                                        <div class="buyer-title-set">#{{tx.transactionHash}}</div>
                                        <div class="buyer-dated"><i class="fa fa-calendar"></i> {{tx.args.created | date : "dd MMM y, hh:mm"}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padd_top_15">
                                <div class="blockchain-titles">Address</div>
                                <div class="blockchain-content">{{tx.address}}</div>
                            </div>
                            <div class="col-md-12 padd_15">
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Block Number</div>
                                    <div class="blockchain-content">{{tx.blockNumber}}</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">_id</div>
                                    <div class="blockchain-content">{{tx.args.invoiceId}}</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Time Stamp</div>
                                    <div class="blockchain-content">{{tx.args.created}}</div>
                                </div>
                            </div>
                            <div class="col-md-12 padd_bottom_15">
                                <div class="blockchain-titles">Remark</div>
                                <div class="blockchain-content">{{tx.args.state}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="content-body" ng-if="tx.event=='factoringRequest'">
                        <div class="panel_header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="text-light pull-left text-uppercase buyer-top">{{tx.eventDName}}</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">Factoring Requested</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 padd_15">
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Amount</div>
                                    <div class="blockchain-content"><strong>{{tx.args.amount}}</strong></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Request Date</div>
                                    <div class="blockchain-content"><strong>{{tx.args.created | date : "dd MMM y, hh:mm"}}</strong></div>
                                </div>
                                
                            </div>
                            <div class="col-md-12 padd_bottom_15">
                                <div class="blockchain-titles">Description</div>
                                <div class="blockchain-content">ifactor_request</div>
                            </div>
                        </div>
                    </div>
                    <div class="content-body" ng-if="tx.event=='factoringProposal'">
                        <div class="panel_header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="text-light pull-left text-uppercase buyer-top">{{tx.eventDName}}</div>
                                </div>
                                <!-- <div class="col-lg-6">
                                    <div class="buyer-published">Published on Blockchain</div>
                                </div> -->
                                <div class="col-lg-6">
                                    <div class="buyer-published"><button class="btn btn-sm btn-primary btn-blockchain">Factoring Proposed</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-12 padd_top_15">
                                <div class="col-lg-3 col-md-3 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Mode</div>
                                    <div class="blockchain-content">Factor</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Eligible Amount</div>
                                    <div class="blockchain-content">{{tx.args.factorSaftyPercentage}}% (<span>&#36;</span>{{tx.args.firstPayment}})</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Proposal Date</div>
                                    <div class="blockchain-content">{{tx.args.created | date : "dd MMM y, hh:mm"}}</div>
                                </div>
                            </div>
                             <div class="col-md-12 padd_15">
                                 <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Total Amount</div>
                                    <div class="blockchain-content"><strong><span>&#36;</span>{{tx.args.amount}}</strong></div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 padd_max" align="center">
                                    <strong>=</strong>                                    </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                    <div class="blockchain-titles">First Payment</div>
                                    <div class="blockchain-content"><strong>{{tx.args.factorSaftyPercentage}}% (<span>&#36;</span>{{tx.args.firstPayment}})</strong></div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 padd_max" align="center">
                                    <strong>+</strong>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Final Payment</div>
                                    <div class="blockchain-content"><strong>{{100 - (tx.args.factorCharges + tx.args.factorSaftyPercentage)}}% (<span>&#36;</span>{{tx.args.balancePayment}})</strong></div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 padd_max" align="center">
                                    <strong>+</strong>                                    </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 padd_max">
                                    <div class="blockchain-titles">Interest Charges</div>
                                    <div class="blockchain-content"><strong>{{tx.args.factorCharges}}% (<span>&#36;</span>{{tx.args.charges}})</strong></div>
                                </div>
                            </div>
                            <div class="col-md-12 padd_bottom_15">
                                <div class="blockchain-titles">Terms & Conditions</div>
                                <div class="blockchain-content">ifactor_proposed</div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="box" ng-show="isTransferEvents()">
                    <div class="content-body">
                        <div class="panel_header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="text-light pull-left text-uppercase buyer-top">Payment Details</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-12 padd_top_15">
                                <table class="table inv">
                                    <thead>
                                      <tr>
                                        <th>Transaction Info</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Conversion</th>
                                        <th class="amount">XDC</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="tx in transferEvents">
                                        <td>{{tx.args.txDType}}</td>
                                        <td>{{tx.args.created | date : "dd MMM y, hh:mm"}}</td>
                                        <td class="amount"><span>&#36;</span>{{tx.args.amount}}</td>
                                        <td><span>&#36;</span>1 = XDC 1</td>
                                        <td class="amount"><span>&#36;</span>XDC {{tx.args.amount}}</td>
                                      </tr>
                                      <!-- <tr>
                                        <td>Final Payment Financier to Supplier</td>
                                        <td>31 Dec 2016, 16:30</td>
                                        <td class="amount"><span>&#36;</span>17,000</td>
                                        <td><span>&#36;</span>1 = XDC10</td>
                                        <td class="amount"><span>&#36;</span>XDC 50,000</td>
                                      </tr>
                                      <tr>
                                        <td>Charges to Supplier</td>
                                        <td>31 Dec 2016, 16:30</td>
                                        <td class="amount"><span>&#36;</span>3,000</td>
                                        <td><span>&#36;</span>1 = XDC10</td>
                                        <td class="amount"><span>&#36;</span>XDC 20,000</td>
                                      </tr> -->
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">
                    <div class="content-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div id="header-blue" ng-show="isStageEnabled('goods_delivered')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('goods_delivered')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('goods_delivered') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('goods_delivered')">1</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title">Goods Delivered</h1>
                                        </div>
                                    </div>
                                </div>
                                <div id="header-blue" ng-show="isHistoryBarEnabled('goods_delivered')">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title" ng-click="showHistory()">View Full History</h1>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('goods_delivered')"></div>
                                <div id="header-blue" ng-show="isStageEnabled('buyer_confirmation')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('buyer_confirmation')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('buyer_confirmation') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('buyer_confirmation')">2</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('buyer_confirmation')}">Buyer Confirmation</h1>
                                        </div>
                                    </div>
                                </div>
                                <div id="header-blue" ng-show="isHistoryBarEnabled('buyer_confirmation')">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title" ng-click="showHistory()">View Full History</h1>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('buyer_confirmation')"></div>
                                <div id="header-blue" ng-show="isStageEnabled('factoring_request')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('factoring_request')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('factoring_request') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('factoring_request')">3</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('factoring_request')}">Factoring Request</h1>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-12 padd_0" ng-show="factorFlags.proceedIfactorRequest">
                                <h4 class=" f-w-6 text-uppercase text-primary response-now">Factor Now</h4>
                                <div class="transaction-details">
                                    <div class="blockchain-titles text-uppercase">Mode</div>
                                </div>
                                <!-- [ Togglable tabs ] -->
                                <div class="btn-group m-b-20" data-toggle="btns">
                                    <a class="btn btn-round btn-border btn-lg btn-primary active deep" data-toggle="tab">Factor</a>
                                    <a class="btn btn-round btn-border btn-lg btn-primary deep" data-toggle="tab">Finance</a>
                                </div>
                                <div class="transaction-details">
                                    <div class="blockchain-titles text-uppercase">Factoring charges / Month(%)</div>
                                </div>
                                <div class="form-group">
                                    <!-- <div class="input-group">
                                        <input type="number" name="charges" ng-model="acceptFactoringForm.platformCharges" class="form-control input-lg"/> -->
                                        <div class="col-md-12">
                                            <rzslider rz-slider-model="acceptFactoringForm.saftyPercentage" rz-slider-options="factorSliderOptions"></rzslider>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <div class="transaction-details">
                                    <div class="blockchain-titles text-uppercase">Factor Range(%)</div>
                                </div>
                                <div class="form-group">
                                   <!--  <div class="input-group">
                                        <input type="number" name="charges" ng-model="acceptFactoringForm.saftyPercentage" class="form-control input-lg"/> -->
                                        <div class="col-md-12">
                                            <rzslider rz-slider-model="acceptFactoringForm.platformCharges" rz-slider-options="factorSliderOptions"></rzslider>
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <div class="transaction-details no-bottom-padd">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea ng-model="acceptFactoringForm.remark" style="height:150px !important" class="form-control input-lg" id="description" placeholder="Write Terms & Condition"></textarea>
                                        </div>
                                    </div>

                                    <div class="m-b-20">
                                <div class="transaction-details">
                                    <div class="blockchain-titles text-uppercase">Attachment</div>
                                </div>
                                        <div class="form-group">

                                            <button type="button" class="btn btn-default btn-icon btn-round">
                                                <i class="fa fa-cloud-upload"></i> &nbsp; <span>Browse File</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button ng-click="factoringProposal()" class="btn btn-lg btn-primary btn-corner btn-block">Submit Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 transaction-details"  ng-show="isIfactorRequested()">
                                <div class="clearfix"></div>
                            <!-- <div id="header-blue" class="col-md-12" ng-show="isIfactorRequested()"> -->
                                 <h1 class="text-uppercase success-response success"><i class="fa fa-question icon-rounded icon-primary"></i>Respond Now</h1>

                                <!-- <div class="transaction-details"> -->
                                    

                                    <div class="blockchain-titles m-b-15">What would you like to do factoring for this request?</div>
                                    <div>
                                        <div class="form-group form-group-bottom">
                                            <button class="btn btn-lg btn-primary btn-corner btn-block" ng-click="proceedRequest()">Proceed</button>
                                        </div>
                                        <div class="form-group no-bottom-marg form-group-bottom">
                                            <button type="submit" class="btn btn-lg btn-border btn-primary btn-corner btn-block" ng-click="rejectRequest()">Reject</button>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>

                            <div class="col-md-12" ng-show="factorFlags.rejectIfactorRequest">
                                <div id="buyer-header-rejected">
                                    <i class="fa fa-times icon-rounded icon-primary inviewport"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title text-uppercase">Rejected</h1>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea ng-model="proposalActionForm.remark" rows="3" class="form-control input-lg" id="description" placeholder="Remark"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-bottom">
                                    <button type="submit" ng-click="rejectFactoringRequest()" class="btn btn-lg btn-primary btn-corner btn-block">Submit Now</button>
                                </div>
                            </div>


                            <div class="col-md-12" ng-show="invoiceData.state == 'ifactor_rejected'">
                                <!-- <div id="buyer-header-rejected">
                                    <i class="fa fa-times icon-rounded icon-primary inviewport"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title text-uppercase">Rejected By You</h1>
                                        <p class="f-w-6">{{invoiceData.rejectFactoringRemark}}</p>
                                    </div>
                                </div> -->

                                <div class="transaction-details p-l-8">
                                    <div class="clearfix"></div>

                                    <h1 class="rejected"><i class="fa fa-close icon-rounded icon-primary"></i> Rejected By You</h1>
                                    <p>{{ invoiceData.created.invoice_rejected | date : "dd MMM y hh:mm"}}</p>
                                    <p class="f-w-6">{{invoiceData.rejectFactoringRemark}}</p>
                                </div>

                                <div class="transaction-details">
                                    <h5 class="text-light text-uppercase">Date</h5>
                                    <div class="clearfix"></div>
                                    <h1 class="no-bottom-padd">{{invoiceData.created.ifactor_rejected | date : "dd MMM y, hh:mm"}}</h1>
                                    <div>
                                    </div>

                                </div> 
                            </div>
                            
                            <div class="col-md-12" ng-show="invoiceData.state == 'ifactor_proposed'">
                                <div id="buyer-header-rejected">
                                    <!-- <i class="fa fa-times icon-rounded icon-primary"></i> -->

                                   <!--  <div class="info-details">
                                        <h1 class="buyer-title text-uppercase"><i class="fa fa-exclamation icon-rounded icon-primary"></i>Factoring Proposed</h1>

                                    </div> -->
                                    <div class="info-details">
                                     <h1 class="pending text"><i class="fa fa-exclamation icon-rounded icon-primary"></i>Factoring Proposed</h1>
                                        
                                    </div>
                                </div>
                                <div class="transaction-details m-b-10">
                                    <div class="blockchain-titles text-uppercase">Date</div>
                                    <div class="blockchain-content">{{invoiceData.created.ifactor_proposed | date : "dd MMM y, hh:mm"}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" ng-show="invoiceData.state == 'ifactor_proposed'">
                                <div id="buyer-header-sent" style="margin-bottom: 0">
                                    
                                    <div class="info-details">
                                        <h1 class="buyer-title text-uppercase">Factoring Details</h1>

                                    </div>
                                </div>
                                <div class="transaction-details no-bottom-padd">
                                    <div class="transaction-details m-b-10">
                                        <div class="blockchain-titles text-uppercase">Mode</div>
                                        <div class="blockchain-content">Factor
                                        </div>
                                    </div>
                                    <div class="transaction-details m-b-10">
                                        <div class="blockchain-titles text-uppercase">Factoring Charges/Month (%)</div>
                                        <div class="blockchain-content">{{invoiceData.charges}}
                                        </div>
                                    </div>
                                    <div class="transaction-details m-b-10">
                                        <div class="blockchain-titles text-uppercase">Eligible Amount (%)</div>
                                        <div class="blockchain-content">{{invoiceData.firstPayment}}
                                        </div>
                                    </div>
                                    <div class="transaction-details m-b-10">
                                        <div class="blockchain-titles text-uppercase">Terms &amp; Condition</div>
                                        <div class="blockchain-content">{{invoiceData.firstPayment}}
                                            </div>
                                    </div>
                                    <div class="transaction-details m-b-10">
                                        <div class="blockchain-titles text-uppercase"></div>
                                        <div class="blockchain-content">{{invoiceData.acceptFactoringRemark}}
                                        </div>
                                    </div>
                                    <div class="transaction-details m-b-10">
                                        <div class="blockchain-titles text-uppercase">Attachment</div>
                                        <div class="blockchain-content"><a href="#" class="attachment-btn">Factor.pdf
                                            <i class="fa fa-download"></i>
                                        </a>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group">
                                        <button type="submit" ng-click="prepaySupplier()" class="btn btn-lg btn-primary btn-corner btn-block">Pay Now</button>
                                    </div> -->

                                </div>
                            </div>


                                <div id="header-blue" ng-show="isHistoryBarEnabled('factoring_request')">
                                    <i class="fa icon-rounded icon-primary fa-no-icon"></i>
                                    <div class="info-details">
                                        <h1 class="buyer-title" ng-click="showHistory()">View Full History</h1>
                                    </div>
                                </div>
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('factoring_request')"></div>
                                <div id="header-blue" ng-show="isStageEnabled('payment_disbursed')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('payment_disbursed')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('payment_disbursed') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('payment_disbursed')">4</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('payment_disbursed')}">Payment Disbursed</h1>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-12" ng-show="invoiceData.state == 'ifactor_proposal_accepted'">
                               <h1 class="text-uppercase success-response success"><i class="fa fa-question icon-rounded icon-primary"></i>Pay Now</h1>
                                <div>

                                    <div class="transaction-details m-b-10">
                                        <h5 class="text-dark">Total Amount <span class="text-dark">$ {{invoiceData.invoiceAmount}}</span></h5>
                                    </div>

                                    <div class="transaction-details m-b-10">
                                        <!-- <p class="text-muted text-uppercase">Eligible Amount ({{invoiceData.saftyPercentage}}%)</p> -->
                                        <!-- <h1 class="f-w-4 no-bottom-padd">{{invoiceData.firstPayment}}</h1> -->
                                        <h5 class="text-dark">Eligible Amount<span class="text-dark">$ {{invoiceData.firstPayment}}</span></h5>
                                    </div>

                                    <div class="transaction-details m-b-10">
                                       <!--  <p class="text-muted text-uppercase">XDC To USD</p>
                                        <h1 class="f-w-4 no-bottom-padd">$ 1</h1> -->
                                        <h5 class="text-dark">XDC To USD<span class="text-dark">$ 1</span></h5>
                                    </div>
                                    </div>

                                    <div class="transaction-details m-b-10">
                                 <!--        <p class="text-muted text-uppercase">Payable XDC</p>
                                        <h1 class="f-w-4 no-bottom-padd">{{invoiceData.firstPayment}}</h1> -->
                                         <h5 class="text-dark"><strong>Payable XDC</strong><span class="text-dark"><strong>$ {{invoiceData.firstPayment}}</strong></span></h5>


                                    </div>

                                    <div class="form-group">
                                        <button type="submit" ng-click="prepaySupplier()" class="btn btn-lg btn-primary btn-corner btn-block">Pay to Supplier</button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" ng-show="invoiceData.state == 'ifactor_prepaid'||invoiceData.state == 'invoice_paid'">
                                <div id="buyer-header-approved" ng-show="invoiceData.state == 'invoice_paid'">
                                     <div class="col-md-12 info-details">
                                     <h1 class="text-uppercase success-response success"><i class="fa fa-question icon-rounded icon-primary"></i>Pay Now</h1>
                                     </div>
                                </div>



                                <div id="buyer-header-approved" ng-show="invoiceData.state == 'ifactor_prepaid'">
                                    <div class="col-md-12 info-details">
                                     <h1 class="success"><i class="fa fa-check icon-rounded icon-primary"></i>Payment Successful</h1>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-md-12 transaction-details">
                                        <h5 class="text-dark">Total Amount <span class="text-dark">${{invoiceData.invoiceAmount}}</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">First Payment <span class="text-dark">$ {{invoiceData.firstPayment}}</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Charges <span class="text-dark">$ {{invoiceData.charges}}</span></h5>
                                        <div class="clearfix"></div>
                                        <h5 class="text-dark">Days to Payout <span class="text-dark">{{invoiceData.daysToPayout}}</span></h5>
                                        <hr>
                                            <h5 class="text-dark"><strong>Final Amount </strong><span class="text-dark"><strong>${{invoiceData.balancePayment}}</strong></span></h5>
                                            <div>
                                            </div>
                                             <h5 class="text-dark">XDC to USD<span class="text-dark">$1</span></h5>
                                            <div>
                                            </div>
                                            <h5 class="text-dark">Payable XDC<span class="text-dark">{{invoiceData.balancePayment}}</span></h5>
                                            <div>
                                            </div>
                                            <h5 class="text-dark">Date<span class="text-dark">{{ invoiceData.payableDate | date : "dd MMM y hh:mm"}}</span></h5>
                                            <div>
                                            </div>
                                    </div>

                                <!-- <div class="transaction-details m-b-10">
                                    <p class="text-muted text-uppercase">Address</p>
                                     <h1 class="f-size-14 no-bottom-padd">{{invoiceData.buyerAddress}}</h1>
                                    <div>
                                    </div>
                                </div> -->

                                <div class="form-group  col-md-12" ng-show="invoiceData.state == 'ifactor_prepaid'">
                                    <button type="submit" class="btn btn-lg btn-primary btn-corner btn-block" ng-click="toastReqPayment()">Request Payment</button>
                                </div>
                                <div class="form-group col-md-12" ng-show="invoiceData.state == 'invoice_paid' && invoiceData.state != 'completed'">
                                    <button type="submit" class="btn btn-lg btn-primary btn-corner btn-block" ng-click="postpaySupplier()">Pay Now</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="opacity-5 line-before" ng-show="isCurrentStage('payment_disbursed')"></div>
                                <div id="header-blue" class="no-after" ng-show="isStageEnabled('contract_complete')">
                                    <div ng-class="{'opacity-5' : isStageOpaque('contract_complete')}">
                                        <i class="fa icon-rounded icon-primary" ng-class="isOldStage('contract_complete') ? 'fa-check' : 'fa-number'"><span ng-show="!isOldStage('contract_complete')">5</span></i>
                                        <div class="info-details">
                                            <h1 class="buyer-title" ng-class="{'ifactor-strong' : isCurrentStage('contract_complete')}">Contract Complete</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                                <div class="transaction-details p-l-8" ng-show="invoiceData.state == 'completed'">
                                    <div class="clearfix"></div>

                                    <h1 class="success"><i class="fa fa-check icon-rounded icon-primary"></i>Contract Completed</h1>
                                    <p>Your Transaction is published on Blockchain</p>
                                    <p>{{ invoiceData.created.completed | date : "dd MMM y hh:mm"}}</p>
                                </div>

                            </div>

                        </div>
                        <!-- End .row -->
                    </div>
                </section>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">
                    <div class="content-body">
                        <div class="row">

                            <div class="col-md-12">
                                 <div class="col-lg-12">
                                        <div class="text-light buyer-top" style="border-left: none;">Rating</div>
                                    </div>
                                    <div class="col-md-12">
                                        <jk-rating-stars max-rating="5" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" >
                                        </jk-rating-stars>
                                    </div>      
                            </div>
                        </div>
                    </div>        
                </section>
            <!-- MAIN CONTENT AREA ENDS -->
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <section class="box">
                    <div class="content-body">
                        <div class="row">

                            <div class="col-md-12">
                                 <div class="col-lg-12">
                                        <div class="text-light buyer-top" style="border-left: none;">Give a quick rating to Buyer</div>
                                    </div>
                                    <div class="col-md-12">
                                        <jk-rating-stars max-rating="5" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" >
                                        </jk-rating-stars>
                                    </div>  

                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea ng-model="acceptFactoringForm.remark" style="height:150px !important" class="form-control input-lg" id="description" placeholder="Write Terms & Condition"></textarea>
                                        </div>
                                    </div>   

                                    <div class="form-group">
                                        <button ng-click="factoringProposal()" class="btn btn-lg btn-primary btn-corner btn-block">Submit</button>
                                    </div> 
                            </div>

                        </div>
                    </div>        
                </section>
            </div>
            <!--
        </section>
        <!-- END CONTENT -->

        </div>
    <!-- END CONTAINER -->
